<div class="background hidden" id="snowSports">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 800 450" preserveAspectRatio="xMidYMid slice">
        <symbol id="cart" viewBox="-13.1 -19.5 19.9 35.4">
            <path fill="#263238" d="M2.6-3.4c0,0.6-0.6,0-0.6,0.2C2-2.9,2.2-2.4,2.4-2c0.6,0.4,1,0.7,1,0.7L3.3-1.2c0.6,0.5,1,0.9,1.3,1.3 C4.2-0.3,2.9-1.2,3-1.1c0.1,0.6-0.2,1-1.2,0.9c0,0.6,0,1.7-1,2.3C0.4,2.5-0.5,2.3-0.2,3C0.3,3.2,0,4.2,0,4.2l0.1,0 c0,0,0.2,0.8-1.1,0.7c0,0,0,0,0,0v9.8l2.7-0.8l-5.2,2l2.3-1.1v-10c-1-0.3-0.6-1.6-0.6-1.6S-3,3.5-3.1,2.6l-0.3,0.1c0,0-0.8-3,0-3.8 C-3-1.5-2-2-1.1-2.4c0-0.1,0-0.1-0.1-0.2c-0.2,0.1-0.1-0.9-0.1-0.9l-4.9-2.2l0.4-0.2c0,0,3.9,1.5,6.9,3.2c0.1,0,0.2,0.1,0.3,0.1 C1.4-2.9,1.3-3.2,1.2-3.2C1.1-3.3,1.1-4,1.1-4l-4.7-2.4l0.4-0.1c0,0,10.1,4.3,10,6.1C5.8-1.7,2.6-3.4,2.6-3.4z M0-2.9 C-0.1-2.3-0.5-3-0.6-2.8c0,0,0,0.2,0,0.3c0.3-0.1,0.7-0.2,1-0.2C0.2-2.8,0.1-2.9,0-2.9z"/>
            <path opacity="0.1" fill="#2F5372" d="M-9.9-10.4c-7.9-1.9,0-14.9,15.2-5.9C11.6-11.1-2-8.5-9.9-10.4z"/>
        </symbol>
        <symbol id="cart_2" viewBox="-13.9 -13.8 17 29.2">
            <path opacity="0.1" fill="#2F5372" d="M-11.9-8.1c-5-1.2,0-9.4,9.5-3.7C1.5-8.5-7-6.9-11.9-8.1z"/>
            <path fill="#263238" d="M0.4,5v9.3l2.7-0.8l-5.2,2l2.3-1.1V5c-1.3,0.3-2.2,0.4-2.2,0.4s0.4-2.1-0.1-2.7c-0.6-0.6-2.3-1-2.3-1 s1.6-1.2,4-1.7C2,0.3,2.8,2.7,2.3,4.2C1.6,4.6,1,4.8,0.4,5z"/>
        </symbol>
        <symbol id="post" viewBox="-25.8 -32.1 33.4 55.5">
            <path fill="#263238" d="M-7.2-15.9C-9.6-17-1.3-20.8,0-20.4c3.8,1.2,0.6,2.5-1.5,3.3c0,3,0,29.6,1.5,32.5c0,0,7.4-3.3,7.6-2.4 S-9.3,24-10.4,23.3s6.6-5.3,7.2-6c1.2-5,0.4-33.9,0.4-33.9S-5.6-15.2-7.2-15.9z"/>
            <path opacity="0.1" fill="#263238" d="M-25.7-22.2c-1.2-1.5,14.9-10.7,16.8-9.9c1.9,0.8-1.4,5.1-0.4,7.4C-7.7-21-2.4-21,0-21.4 c2.3,2.9-6.3,4.4-7.4,4.5c-2.2,0.2-1.5-3.7-6.5-5.5C-19-24.3-24.5-20.7-25.7-22.2z"/>
        </symbol>
        <symbol id="skid" viewBox="-24 -7.3 48.1 14.5">
            <polygon opacity="0.1" fill="#2A3C4F" points="21.2,-7.3 -24,7.3 -18.8,6.2 24,-5.6 	"/>
        </symbol>
        <symbol id="steps" viewBox="-12.1 -5.6 24.1 11.3">
            <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="1.1293" y1="2.4641" x2="-12.0557" y2="2.4641">
                <stop offset="0" style="stop-color:#F2F2F2"/>
                <stop offset="1" style="stop-color:#80A7BF"/>
            </linearGradient>
            <path fill="url(#SVGID_2_)" d="M-6.6,3.3C-2.7,3-2.5,5.9-0.8,5.6S3.3,2-2.6,0.8s-9.1-2-9.4-1.2S-10.4,3.5-6.6,3.3z"/>
            <path opacity="0.1" fill="#2A3C4F" d="M-8.7,0.6c0.8,1.6,18.2,1,17.5-2C7.4-7.4-10.1-2-8.7,0.6z"/>
            <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="12.0557" y1="-1.9421" x2="-2.9118" y2="-1.9421">
                <stop offset="0" style="stop-color:#F2F2F2"/>
                <stop offset="1" style="stop-color:#80A7BF"/>
            </linearGradient>
            <path fill="url(#SVGID_3_)" d="M2.5-1C7-1.4,7.3,2.1,9.2,1.7S15-2.5,8.1-3.9s-10.6-2.3-11-1.4S-2-0.7,2.5-1z"/>
        </symbol>
        <defs>
            <linearGradient id="SVGID_96_" gradientUnits="userSpaceOnUse" x1="588.9745" y1="257.2416" x2="588.9745" y2="435.5195">
                <stop offset="0" style="stop-color:#F2F2F2"/>
                <stop offset="1" style="stop-color:#80A7BF"/>
            </linearGradient>
            <linearGradient id="sky_5_" gradientUnits="userSpaceOnUse" x1="400" y1="-61.8691" x2="400" y2="202.813">
                <stop offset="0" style="stop-color:#00194F"/>
                <stop offset="0.2061" style="stop-color:#00306C"/>
                <stop offset="0.5" style="stop-color:#01559B"/>
                <stop offset="0.6243" style="stop-color:#4077A3"/>
                <stop offset="0.8852" style="stop-color:#BFBDB3"/>
                <stop offset="1" style="stop-color:#F2D9BA"/>
            </linearGradient>
            <linearGradient id="SVGID_85_" gradientUnits="userSpaceOnUse" x1="496.0977" y1="171.3599" x2="569.623" y2="244.8852">
                <stop offset="0" style="stop-color:#F2F2F2"/>
                <stop offset="1" style="stop-color:#80A7BF"/>
            </linearGradient>
            <linearGradient id="SVGID_86_" gradientUnits="userSpaceOnUse" x1="472.4019" y1="195.0556" x2="545.9273" y2="268.581">
                <stop offset="0" style="stop-color:#F2F2F2"/>
                <stop offset="1" style="stop-color:#80A7BF"/>
            </linearGradient>
            <linearGradient id="SVGID_87_" gradientUnits="userSpaceOnUse" x1="494.9788" y1="172.4788" x2="568.5042" y2="246.0042">
                <stop offset="0" style="stop-color:#F2F2F2"/>
                <stop offset="1" style="stop-color:#80A7BF"/>
            </linearGradient>
            <linearGradient id="SVGID_88_" gradientUnits="userSpaceOnUse" x1="1026.6017" y1="256.3982" x2="885.2412" y2="115.0377" gradientTransform="matrix(-1 0 0 1 1680.2712 0)">
                <stop offset="0" style="stop-color:#3F688C"/>
                <stop offset="1" style="stop-color:#80A7BF"/>
            </linearGradient>
            <linearGradient id="SVGID_89_" gradientUnits="userSpaceOnUse" x1="459.6597" y1="224.41" x2="503.9904" y2="180.0793">
                <stop offset="0" style="stop-color:#3F688C"/>
                <stop offset="1" style="stop-color:#80A7BF"/>
            </linearGradient>
            <linearGradient id="SVGID_90_" gradientUnits="userSpaceOnUse" x1="382.0822" y1="193.1247" x2="488.5337" y2="299.5763">
                <stop offset="0" style="stop-color:#F2F2F2"/>
                <stop offset="1" style="stop-color:#80A7BF"/>
            </linearGradient>
            <linearGradient id="SVGID_91_" gradientUnits="userSpaceOnUse" x1="339.0947" y1="219.1452" x2="389.3845" y2="168.8554">
                <stop offset="0" style="stop-color:#3F688C"/>
                <stop offset="1" style="stop-color:#80A7BF"/>
            </linearGradient>
            <linearGradient id="SVGID_92_" gradientUnits="userSpaceOnUse" x1="161.8687" y1="224.9456" x2="335.0701" y2="398.1471">
                <stop offset="0" style="stop-color:#F2F2F2"/>
                <stop offset="1" style="stop-color:#80A7BF"/>
            </linearGradient>
            <linearGradient id="SVGID_93_" gradientUnits="userSpaceOnUse" x1="419.5092" y1="127.0004" x2="749.041" y2="456.5323">
                <stop offset="0" style="stop-color:#F2F2F2"/>
                <stop offset="1" style="stop-color:#80A7BF"/>
            </linearGradient>
            <linearGradient id="SVGID_94_" gradientUnits="userSpaceOnUse" x1="6.0309" y1="330.0862" x2="218.7726" y2="117.3445">
                <stop offset="0" style="stop-color:#3F688C"/>
                <stop offset="1" style="stop-color:#80A7BF"/>
            </linearGradient>
            <linearGradient id="SVGID_95_" gradientUnits="userSpaceOnUse" x1="193.4014" y1="356.1433" x2="518.8186" y2="681.5605">
                <stop offset="0" style="stop-color:#80A7BF"/>
                <stop offset="1" style="stop-color:#BACAD8"/>
            </linearGradient>
            <linearGradient id="SVGID_97_" gradientUnits="userSpaceOnUse" x1="501.6426" y1="288.4662" x2="140.7668" y2="496.8179">
                <stop offset="0" style="stop-color:#80A7BF"/>
                <stop offset="1" style="stop-color:#BACAD8"/>
            </linearGradient>
            <linearGradient id="SVGID_98_" gradientUnits="userSpaceOnUse" x1="661.9351" y1="287.76" x2="661.9351" y2="355.5769">
                <stop offset="0" style="stop-color:#00194F"/>
                <stop offset="0.2061" style="stop-color:#00306C"/>
                <stop offset="0.5" style="stop-color:#01559B"/>
                <stop offset="0.5884" style="stop-color:#0C5998"/>
                <stop offset="1" style="stop-color:#3F688C"/>
            </linearGradient>
        </defs>
        <rect id="sky_2_" fill="url(#sky_5_)" width="800" height="450"/>
        <path fill="url(#SVGID_85_)" d="M484.5,160c0.2,0,0.3,0,0.5,0C484.8,160,484.7,160,484.5,160z"/>
        <path fill="url(#SVGID_86_)" d="M515,230c0,0-35-35-35-40s20-10,20-15s-15-15-15-15c-0.2,0-0.3,0-0.5,0c-10.9,1-54.5,33.1-54.5,33.1s3.3,23.1,34.5,36.5C482.7,233.8,501.2,235.2,515,230z"/>
        <path fill="url(#SVGID_87_)" d="M485,160c0,0,15,10,15,15s-20,10-20,15s35,40,35,40h75C545,200,495,160,485,160z"/>
        <path fill="url(#SVGID_88_)" d="M800,50.7C735,55,515,220,515,220l285,65.1V50.7z"/>
        <path fill="url(#SVGID_89_)" d="M515,230c0,0-35-35-35-40s20-10,20-15s-15-15-15-15c-0.2,0-0.3,0-0.5,0c-10.9,1-54.5,33.1-54.5,33.1s3.3,23.1,34.5,36.5C482.7,233.8,501.2,235.2,515,230z"/>
        <path fill="url(#SVGID_90_)" d="M528.8,267.3c-68.4-84.1-131.1-114-141.7-114l-28.3,93.3C392.3,271.7,446.8,291.9,528.8,267.3z"/>
        <path fill="url(#SVGID_91_)" d="M315,196c0,0,12.9,27.4,43.8,50.6l28.3-93.3C376.6,153.3,315,196,315,196z"/>
        <path fill="url(#SVGID_92_)" d="M450,296.2c0,0-207.3-186.2-228.5-186.2c0,0-59.2,38.1-46.5,55s19.2,43.1,15,60S65,345,65,345"/>
        <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(1.287 0 0 -1.2933 284.3202 274.2077)" overflow="visible"/>
        <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(1.2065 0 0 -1.2933 358.9239 231.0634)" overflow="visible"/>
        <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(1.287 0 0 -1.2502 370.6088 240.9507)" overflow="visible"/>
        <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(1.287 0 0 -1.2502 638.9916 148.9336)" overflow="visible"/>
        <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(1.287 0 0 -1.2502 658.4152 140)" overflow="visible"/>
        <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(1.287 0 0 -1.2502 615.6185 148.9336)" overflow="visible"/>
        <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(1.287 0 0 -1.2502 605.6185 163.9336)" overflow="visible"/>
        <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(1.287 0 0 -1.2502 680.6185 128.9336)" overflow="visible"/>
        <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(1.287 0 0 -1.2502 710.6185 131.0664)" overflow="visible"/>
        <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(1.287 0 0 -1.2502 349.0367 248.1414)" overflow="visible"/>
        <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(1.287 0 0 -1.2502 327.4645 255.3321)" overflow="visible"/>
        <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(1.287 0 0 -1.2933 305.8923 261.624)" overflow="visible"/>
        <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(1.2065 0 0 -1.2502 278.0283 269.7135)" overflow="visible"/>
        <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(0 0 0 0 302.297 261.624)" overflow="visible"/>
        <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(1.287 0 0 -1.2502 691.1729 143.3235)" overflow="visible"/>
        <path fill="url(#SVGID_93_)" d="M800,131.9C593.1,144.7,401,245.8,221.9,305c6.6-0.3,14.3,0,21,2.3c16,5.3,31.9,26.6,58.5,26.6s47.9,16,47.9,16l10,80.3H800V131.9z"/>
        <path fill="url(#SVGID_94_)" d="M195,230c4.2-16.9-2.3-48.1-15-65s41.5-55,41.5-55C200.4,110,29.6,212,0,241.6v118.8l65-0.4C65,360,190.8,246.9,195,230z"/>
        <path fill="url(#SVGID_95_)" d="M301.5,333.9c-26.6,0-42.6-21.3-58.5-26.6c-6.7-2.2-14.4-2.6-21-2.3c-40.1,13.3-78.1,27.4-116.9,35v90l254.4,0.2l-10-80.3C349.4,349.8,328.1,333.9,301.5,333.9z"/>
        <line fill="none" stroke="#2F5372" stroke-width="0.5" stroke-miterlimit="10" x1="41.4" y1="364.3" x2="799.6" y2="119.3"/>
        <line fill="none" stroke="#2F5372" stroke-width="0.5" stroke-miterlimit="10" x1="36.8" y1="359" x2="800.3" y2="112.4"/>
        <g id="moving-up">
            <use xlink:href="#cart"  width="19.9" height="35.3" id="XMLID_1_" x="-10" y="-17.7" transform="matrix(0.9986 0 0 -0.9986 294.713 297.6373)" style="overflow:visible;"/>
            <use xlink:href="#cart"  width="19.9" height="35.3" id="XMLID_7_" x="-10" y="-17.7" transform="matrix(0.9986 0 0 -0.9986 206.987 325.8076)" style="overflow:visible;"/>
            <use xlink:href="#cart"  width="19.9" height="35.3" id="XMLID_8_" x="-10" y="-17.7" transform="matrix(0.9986 0 0 -0.9986 382.4391 269.4669)" style="overflow:visible;"/>
            <use xlink:href="#cart"  width="19.9" height="35.3" id="XMLID_3_" x="-10" y="-17.7" transform="matrix(0.9986 0 0 -0.9986 470.1652 241.2966)" style="overflow:visible;"/>
            <use xlink:href="#cart"  width="19.9" height="35.3" id="XMLID_4_" x="-10" y="-17.7" transform="matrix(0.9986 0 0 -0.9986 557.8913 213.1262)" style="overflow:visible;"/>
            <use xlink:href="#cart"  width="19.9" height="35.3" id="XMLID_5_" x="-10" y="-17.7" transform="matrix(0.9986 0 0 -0.9986 645.6174 184.9558)" style="overflow:visible;"/>
            <use xlink:href="#cart"  width="19.9" height="35.3" id="XMLID_6_" x="-10" y="-17.7" transform="matrix(0.9986 0 0 -0.9986 733.3435 156.7854)" style="overflow:visible;"/>
            <use xlink:href="#cart"  width="19.9" height="35.3" id="XMLID_16_" x="-10" y="-17.7" transform="matrix(0.9986 0 0 -0.9986 119.2609 353.978)" style="overflow:visible;"/>
            <use xlink:href="#cart"  width="19.9" height="35.3" id="XMLID_17_" x="-10" y="-17.7" transform="matrix(0.9986 0 0 -0.9986 821.0696 128.6151)" style="overflow:visible;"/>
        </g>
        <use xlink:href="#post" width="33.4" height="55.5" id="XMLID_2_" x="-25.8" y="-32.1" transform="matrix(1 0 0 -1 353.721 276.2308)" overflow="visible"/>
        <use xlink:href="#post" width="33.4" height="55.5" x="-25.8" y="-32.1" transform="matrix(1 0 0 -1 443.1837 247.3068)" overflow="visible"/>
        <use xlink:href="#post" width="33.4" height="55.5" x="-25.8" y="-32.1" transform="matrix(1 0 0 -1 549.4153 212.9642)" overflow="visible"/>
        <use xlink:href="#post" width="33.4" height="55.5" x="-25.8" y="-32.1" transform="matrix(1 0 0 -1 637.7077 184.4407)" overflow="visible"/>
        <use xlink:href="#post" width="33.4" height="55.5" x="-25.8" y="-32.1" transform="matrix(1 0 0 -1 720.0723 157.7302)" overflow="visible"/>
        <use xlink:href="#post" width="33.4" height="55.5" x="-25.8" y="-32.1" transform="matrix(1 0 0 -1 258.1361 306.9796)" overflow="visible"/>
        <g id="moving-down">
            <use xlink:href="#cart_2"  width="17" height="29.3" id="XMLID_9_" x="-8.5" y="-14.6" transform="matrix(0.9967 0 0 -0.9967 489.6038 223.9985)" style="overflow:visible;"/>
            <use xlink:href="#cart_2"  width="17" height="29.3" id="XMLID_13_" x="-8.5" y="-14.6" transform="matrix(0.9967 0 0 -0.9967 405.1405 251.4289)" style="overflow:visible;"/>
            <use xlink:href="#cart_2"  width="17" height="29.3" id="XMLID_14_" x="-8.5" y="-14.6" transform="matrix(0.9967 0 0 -0.9967 320.6772 278.8594)" style="overflow:visible;"/>
            <use xlink:href="#cart_2"  width="17" height="29.3" id="XMLID_15_" x="-8.5" y="-14.6" transform="matrix(0.9967 0 0 -0.9967 236.214 306.2899)" style="overflow:visible;"/>
            <use xlink:href="#cart_2"  width="17" height="29.3" id="XMLID_19_" x="-8.5" y="-14.6" transform="matrix(0.9967 0 0 -0.9967 151.7507 333.7203)" style="overflow:visible;"/>
            <use xlink:href="#cart_2"  width="17" height="29.3" id="XMLID_10_" x="-8.5" y="-14.6" transform="matrix(0.9967 0 0 -0.9967 574.067 196.568)" style="overflow:visible;"/>
            <use xlink:href="#cart_2"  width="17" height="29.3" id="XMLID_11_" x="-8.5" y="-14.6" transform="matrix(0.9967 0 0 -0.9967 658.5303 169.1375)" style="overflow:visible;"/>
            <use xlink:href="#cart_2"  width="17" height="29.3" id="XMLID_12_" x="-8.5" y="-14.6" transform="matrix(0.9967 0 0 -0.9967 742.9936 141.7071)" style="overflow:visible;"/>
            <use xlink:href="#cart_2"  width="17" height="29.3" id="XMLID_18_" x="-8.5" y="-14.6" transform="matrix(0.9967 0 0 -0.9967 827.4568 114.2766)" style="overflow:visible;"/>
        </g>
        <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(3.1566 0 0 -3.0663 762.9759 249.5626)" overflow="visible"/>
        <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(3.1566 0 0 -3.0663 712.9759 257.3055)" overflow="visible"/>
        <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(3.1566 0 0 -3.0663 737.9759 275.1727)" overflow="visible"/>
        <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(2.9328 0 0 -3.0663 703.7799 295.4006)" overflow="visible"/>
        <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(3.1566 0 0 -3.0663 665.7325 278.2679)" overflow="visible"/>
        <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(3.1566 0 0 -3.0663 35.2737 315.1003)" overflow="visible"/>
        <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(3.1566 0 0 -3.0663 110.2737 333.9336)" overflow="visible"/>
        <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(3.1566 0 0 -3.0663 59.7263 298.9336)" overflow="visible"/>
        <path fill="url(#SVGID_96_)" d="M378.3,341.6L377.9,450H800V251.8C800,251.8,607.7,320.8,378.3,341.6z"/>
        <path fill="url(#SVGID_97_)" d="M378.3,341.6C254.8,352.7,120.7,350,0,315v135h677.5c-3-8.6-62.5-50-137.5-40c-20,0-75-45-100-55C407.6,342.1,407.2,347.9,378.3,341.6z"/>
        <path fill="#2A3C4F" d="M575.8,372.2c-0.2-0.1-0.4-0.2-0.6-0.3v-60.1c0.7-0.5,2-3.4,0-3.6v-3.3h-0.4v3.3c-2,0.2-0.7,3,0,3.6v60c-1.4-0.2-2.1,1-0.7,1.9C575.8,374.8,577.8,373.4,575.8,372.2z"/>
        <path fill="#2A3C4F" d="M617.4,356.5c-0.2-0.1-0.5-0.1-0.7-0.1l-6-42.9c0.7-0.5,1.7-2.7-0.4-2.6l-0.3-2.4l-0.4,0.1l0.3,2.4c-1.9,0.4-0.4,2.3,0.4,2.5l6,42.8c-1.4,0-2,1-0.5,1.4C617.6,358.4,619.5,357.1,617.4,356.5z"/>
        <path fill="#2A3C4F" d="M626,375.3l-36.7-20.8c0,0-12.2-7-9.6-11.4c0.5,3.2,10.9,9.2,10.9,9.2l38.6,22.2L626,375.3z"/>
        <path fill="#2A3C4F" d="M620.4,377.5L571,363.6c0,0-17.3-4.8-15.6-10.7c1.7,3.7,16.3,8.5,16.3,8.5l52.4,14.5L620.4,377.5z"/>
        <use xlink:href="#skid" width="48.1" height="14.5" x="-24" y="-7.3" transform="matrix(1 0 0 -1 618.3376 384.7689)" overflow="visible"/>
        <use xlink:href="#skid" width="48.1" height="14.5" x="-24" y="-7.3" transform="matrix(1 0 0 -1 642.3831 398.0237)" overflow="visible"/>
        <use xlink:href="#skid" width="48.1" height="14.5" x="-24" y="-7.3" transform="matrix(1 0 0 -1 688.9596 415.1084)" overflow="visible"/>
        <use xlink:href="#skid" width="48.1" height="14.5" x="-24" y="-7.3" transform="matrix(1 0 0 -1 680.4887 421.0067)" overflow="visible"/>
        <use xlink:href="#skid" width="48.1" height="14.5" x="-24" y="-7.3" transform="matrix(1 0 0 -1 723.0626 438.2949)" overflow="visible"/>
        <use xlink:href="#skid" width="48.1" height="14.5" x="-24" y="-7.3" transform="matrix(1 0 0 -1 659.9636 394.3383)" overflow="visible"/>
        <use xlink:href="#skid" width="48.1" height="14.5" x="-24" y="-7.3" transform="matrix(0.9723 0.2338 0.2338 -0.9723 648.9434 382.8297)" overflow="visible"/>
        <use xlink:href="#skid" width="48.1" height="14.5" x="-24" y="-7.3" transform="matrix(0.9723 0.2338 0.2338 -0.9723 696.5366 427.7812)" overflow="visible"/>
        <use xlink:href="#skid" width="48.1" height="14.5" x="-24" y="-7.3" transform="matrix(0.9723 0.2338 0.2338 -0.9723 658.4259 392.3509)" overflow="visible"/>
        <use xlink:href="#skid" width="48.1" height="14.5" x="-24" y="-7.3" transform="matrix(0.9723 0.2338 0.2338 -0.9723 695.7016 417.9487)" overflow="visible"/>
        <use xlink:href="#skid" width="48.1" height="14.5" x="-24" y="-7.3" transform="matrix(0.9723 0.2338 0.2338 -0.9723 721.4216 426.6809)" overflow="visible"/>
        <use xlink:href="#skid" width="48.1" height="14.5" x="-24" y="-7.3" transform="matrix(0.9723 0.2338 0.2338 -0.9723 661.7455 402.705)" overflow="visible"/>
        <path fill="#FFCCBC" d="M577.8,312.4c-0.8,0.1-2.4-0.5-2.4-0.5s-1-0.8-1.3-1.5c-0.2,0-1-1.1-0.9-1.2c0.7,0.5,1.8,1.3,2.7,1.5c0.3-0.5,0.1-1.7,0.1-1.9c0.6,0.2,0.4,1.6,2.2,2"/>
        <path fill="#263238" d="M604.4,360.4c0.4-4.3-0.6-14.7-0.6-14.7l-3.9-16.1l9-0.3l-1.6,17.1c1.6,3.4,0.1,11.5-0.9,14.4C605.6,360.9,605.2,360.4,604.4,360.4z"/>
        <path fill="#263238" d="M596.4,366.2c0.2-4.3-1.7-17.1-1.7-17.1l-2.8-22l9.1,4.1l-2.7,17.2c2.4,2.7,1.2,14.5,0.4,17.5C597.9,366,597.1,366.1,596.4,366.2z"/>
        <path fill="#FFCCBC" d="M593.9,293.9c-0.6,0.2-0.6,1.9-1.6,3.3c1-0.1,0.6,2.3,0.8,2.6c0.2,0.3,1.1-0.6,1.3,2.5C597.4,301.8,593.9,294.1,593.9,293.9z"/>
        <path fill="#263238" d="M593.2,292c1-4,6.5-4.7,8.2-0.9c0.4,0.9,0.3,1.9,0.6,2.8c0.3,1.3,1,2.2,1.5,3.4l-8.9,4.6c-0.4-1.8,0.3-3.5-0.2-5.3C593.8,295,592.7,293.8,593.2,292z"/>
        <path fill="#FFF3FF" d="M602.7,297.3c-0.5,0.1-1,0.2-1.6,0.3c-3.3,0.9-6.4,2.4-9,5.3c-0.2,0.2-0.4,0.5-0.6,0.7c-0.5,0.6-1,1.3-1.2,2.1c-0.2,0.8-0.2,1.7,0.3,2.2c0,0,0,0,0-0.1c0.6-2.1,2.2-3.6,3.8-4.3c1.6-0.7,3.3-0.7,5-0.6c1.6,0.1,3.3,0.2,5-0.3c-0.2-1.5,0.7-2.4,1.2-3.6c0-0.1,0.1-0.2,0.1-0.3C606.2,297.2,604.6,297,602.7,297.3z"/>
        <path fill="#EF5350" d="M592.9,304c-1.6,2.2-2.9,5.1-4.9,6.9c-1.2-1.1-9.8-2.8-10.7-0.8c-0.9,1.9,0.7,3.2,2.3,4.5c2.8,2,7.7,2.4,11,3.3c4-3.1,5.4-4.3,8.3-8"/>
        <path fill="#263238" d="M598.7,365.8c-0.2,1.1-0.1,2.3-1.1,3.1c-0.9,0.7-3.5-1.4-5-1.1c-0.7,0.1-3.4-0.2-2.9-1.2c0.9-1.7,5.4-0.3,7.4-1.3C597.7,365.1,598.4,365.2,598.7,365.8z"/>
        <path fill="#263238" d="M606.4,360.5c0.1,1.2,0.8,3.1-0.4,3.1c-1.9-0.1-2.3-1.5-2.3-1.5s-2.2-1.2-1.7-2c1-1.5,2.1,0.7,2.8,0.3C605.4,360.1,605.9,360,606.4,360.5z"/>
        <path fill="#EF5350" d="M601.4,326.2c1.6-1.1,10.8-24.5-2.2-24.9c-5.5,0-7.9,4.4-8.3,11.8c-0.8,7-1.6,11.1,0,12C588.2,328.4,603.2,331.5,601.4,326.2z"/>
        <path fill="#0D2133" d="M611.4,334.8c2.1,5-15.7,4.9-12.8-2.6C600.3,336.1,607.3,337.3,611.4,334.8z"/>
        <path fill="#0D2133" d="M599.1,322.4c-1.2,0.2-2.4,0.4-3.5,0.8c-0.8,0.2-1.6,0.5-2.3,0.9c-0.2,0.1-0.5,0.2-0.7,0.4c-0.2,0.2-0.3,0.6-0.3,0.9c0,0.1,0,0.3,0,0.4c0.1,1.4,1.1,2.5,2.2,3.3c0.6,0.4,1.2,0.8,1.7,1.2c0.1,0.1,0.2,0.1,0.2,0.2c0.9,0.6,1.8,1.2,2.8,1.9c0-0.9-0.1-1.7-0.1-2.6c0-1.9,0-3.8,0.1-5.7C599.3,323.5,599.3,322.9,599.1,322.4z"/>
        <path fill="#0D2133" d="M597.6,306.7c4.2,0,1.5,19.3-0.1,19.3C595.4,325.9,596,306.7,597.6,306.7z"/>
        <path fill="#0D2133" d="M616,319.5c-0.5,5.9-2.7,8.9-8.9,8.7c-8.3-0.2-9.4-6.2-9.4-11.7S616,314.1,616,319.5z"/>
        <path fill="#EF5350" d="M615.5,320.4c-0.7,5.7-4.5,6.5-8.3,7.4c-4.4,1.1-8.1-5.3-8.1-10L615.5,320.4z"/>
        <path fill="#2A3C4F" d="M611.4,307.5h-13.7c0.5,0.3,1,0.5,1.5,0.9c-0.7,0.7-1.5,2.2-1.5,8.1c0.4,0.3,8.3,6.7,7.6,11.3c3.1,0.3,7.2-0.4,8.7-2.7c0.1-2.6,2.8-5.8,2.8-7.3C616.9,314.8,616.7,308.4,611.4,307.5z"/>
        <path fill="#2A3C4F" d="M598.4,322.1c-2.9,5.3-0.4,13.9,6.4,14.1c6.8,0.2,6.5-1.3,6.5-1.3c0.5-2.4,2.1-3.6,2.1-3.6c0.3-2.1-1-2.8-1-2.8l-0.2-1.6C610,328.1,601.5,330.3,598.4,322.1z"/>
        <path fill="#2A3C4F" d="M612.8,333.3c-0.3,0.5-0.6,1-1.1,1.3c-0.1,0.1-0.2,0.2-0.3,0.2c0,0,0,0,0,0c0.2-0.8,0.5-1.6,0.9-2.3C612.5,332.7,612.7,333,612.8,333.3z"/>
        <path fill="#2A3C4F" d="M607,334.1c0.1,0.7,0.2,1.4,0.3,2.1c-0.9,0.1-2.4,0.2-3.3-0.2C605,335.3,606,334.7,607,334.1z"/>
        <path fill="#EF5350" d="M613.5,331.3c0,0.3-0.4,1.4-0.7,2c-0.1-0.3-0.3-0.6-0.5-0.8C612.6,332.1,613,331.7,613.5,331.3z"/>
        <path fill="#EF5350" d="M603.6,333.9c0.4-0.8,0.8-1.5,1.4-2.1C610.4,334.3,601.6,338.1,603.6,333.9z"/>
        <path fill="#EF5350" d="M610.1,319.5c0-0.6-1-0.5-0.9,0.1c0.2,4-0.3,8-1.5,11.9c-0.2,0.6,0.7,0.7,0.9,0.1C609.8,327.6,610.3,323.5,610.1,319.5z"/>
        <path fill="#EF5350" d="M616,319.2c0-0.6-0.9-0.5-0.9,0.1c0,4-0.9,8-2.6,11.7c-0.2,0.5,0.6,0.9,0.8,0.4C615,327.5,615.9,323.4,616,319.2z"/>
        <path fill="#B2B2B2" d="M597.1,299.6c0,0,15.4,0,16.7,0c2.5,0,4.3,3.1,3.1,6.2h-19.8V299.6z"/>
        <path fill="#919191" d="M599.6,305.8c2.5-3.1-0.3-6.1-2.5-6.2c-2.4,0-4.3,1.9-4.3,4.3s2.5,3.7,4.3,3.7h16.1c1.6,0,3.1-0.6,3.7-1.9H599.6z"/>
        <path fill="#141414" d="M609.5,307.7l1.3,0c1.6,0,3.1-0.8,3.8-2.2c1.5-3-0.5-5.9-3.3-5.9l-1.3,0c2.3,0,3.9,1.9,3.8,4.1C613.7,306,611.7,307.8,609.5,307.7z"/>
        <path fill="#141414" d="M601.4,307.7l1.3,0c1.6,0,3.1-0.8,3.8-2.2c1.5-3-0.5-5.9-3.3-5.9l-1.3,0c2.3,0,3.9,1.9,3.8,4.1C605.6,306,603.6,307.8,601.4,307.7z"/>
        <path fill="#263238" d="M612.7,356.3"/>
        <use xlink:href="#steps" width="24.1" height="11.3" x="-12.1" y="-5.6" transform="matrix(1 0 0 -1 659.9536 353.279)" overflow="visible"/>
        <use xlink:href="#steps" width="24.1" height="11.3" x="-12.1" y="-5.6" transform="matrix(1 0 0 -1 688.9496 356.9053)" overflow="visible"/>
        <path fill="url(#SVGID_98_)" d="M655.1,355.6v-57.1c0,0-0.9-10.7,8.8-10.7s1.6,3.5,1.6,10.7s0.1,54.1,0.1,54.1L655.1,355.6z"/>
        <path fill="#312E54" d="M692.1,324.7c0.2,0.1,0.4,0.1,0.6,0.1C692.5,324.9,692.2,324.8,692.1,324.7C692.1,324.7,692.1,324.7,692.1,324.7z"/>
        <path fill="#FFCCBC" d="M656.9,298c-1.3-1-3.9,0.3-3.7,1.5s0.8,2.8,3.3,1.3"/>
        <path fill="#0DACD1" d="M683,292.2c-4.7,1.7-9.1,2.6-13.8,4.3c-3.1-1-10.5-1.1-12.5,1.3c-3.9,5.2,9.7,6.8,13.8,6.9c4.6,0.1,8.9-2.4,13-4.4L683,292.2z"/>
        <path fill="#263238" d="M694.1,353c0.1,1.2,0.5,2.3-0.2,3.2c-0.7,1-3.7-0.4-5.1,0.2c-0.6,0.3-3.3,0.6-3.1-0.4c0.4-1.9,5.1-1.7,6.9-3.2C693,352.5,693.6,352.4,694.1,353z"/>
        <path fill="#2A3C4F" d="M691.8,353.4c0.4-4.5-0.3-16.9-0.3-16.9l-2.8-18.4l9.3-0.3l-2.5,17.7c2.4,3-0.4,14.5-1.5,17.6C693.4,353.3,692.6,353.4,691.8,353.4z"/>
        <path fill="#263238" d="M687.6,355.2c0.1,1.2,0.5,2.3-0.2,3.2c-0.7,1-3.7-0.4-5.1,0.2c-0.6,0.3-3.3,0.6-3.1-0.4c0.4-1.9,5.1-1.7,6.9-3.2C686.5,354.7,687.2,354.7,687.6,355.2z"/>
        <path fill="#2A3C4F" d="M685.3,355.6c0.2-4.5-1-16.8-1-16.8l-3.8-23.2l9.5,4.3l-1.7,17.8c2.5,2.9,0.2,14.5-0.7,17.6C686.8,355.4,686,355.5,685.3,355.6z"/>
        <path fill="#FFCCBC" d="M688.7,289.5c0.6-3.5-5.6-7.1-6.2-8.3c-0.9,1.1-1.1,4.4-0.8,5.7c0.2,1,0.8-0.1,1.3,0.7c0.4,0.8,0.2,1.1,0.2,2.2C685,289.4,686.9,290.1,688.7,289.5z"/>
        <path fill="#0DACD1" d="M689.5,315.6c1.6-1.1,10.8-24.5-2.2-24.9c-5.5,0-7.9,4.4-8.3,11.8c-0.8,7-1.6,11.1,0,12C676.3,317.9,691.2,321,689.5,315.6z"/>
        <path fill="#BF360C" d="M682.7,281.9c-1.2-0.5-1.8-1.9-1.5-3.1c0.7-2.4,3.7-3.3,5-3.1c1.3,0.2,2.6,1.2,2.7,2.6c1.9-0.9,4,3.3-0.6,9.1c-1.3,0-1.4-0.1-2.8-0.1C684.6,285.6,683.7,283.7,682.7,281.9z"/>
        <path fill="#141414" d="M699.3,323.5c2.1,5-15.7,4.9-12.8-2.6C688.2,324.9,695.1,326.1,699.3,323.5z"/>
        <path fill="#141414" d="M687,311.2c-1.2,0.2-2.4,0.4-3.5,0.8c-0.8,0.2-1.6,0.5-2.3,0.9c-0.2,0.1-0.5,0.2-0.7,0.4c-0.2,0.2-0.3,0.6-0.3,0.9c0,0.1,0,0.3,0,0.4c0.1,1.4,1.1,2.5,2.2,3.3c0.6,0.4,1.2,0.8,1.7,1.2c0.1,0.1,0.2,0.1,0.2,0.2c0.9,0.6,1.8,1.2,2.8,1.9c0-0.9-0.1-1.7-0.1-2.6c0-1.9,0-3.8,0.1-5.7C687.1,312.3,687.2,311.7,687,311.2z"/>
        <path fill="#222B2B" d="M685.5,295.4c4.2,0,1.5,19.3-0.1,19.3C683.3,314.7,683.8,295.4,685.5,295.4z"/>
        <path fill="#222B2B" d="M703.8,308.3c-0.5,5.9-2.7,8.9-8.9,8.7c-8.3-0.2-9.4-6.2-9.4-11.7S703.8,302.8,703.8,308.3z"/>
        <path fill="#B2B2B2" d="M703.4,309.2c-0.7,5.7-4.5,6.5-8.3,7.4c-4.4,1.1-8.1-5.3-8.1-10L703.4,309.2z"/>
        <path fill="#677575" d="M699.3,296.3h-13.7c0.5,0.3,1,0.5,1.5,0.9c-0.7,0.7-1.5,2.2-1.5,8.1c0.4,0.3,8.3,6.7,7.6,11.3 c3.1,0.3,7.2-0.4,8.7-2.7c0.1-2.6,2.8-5.8,2.8-7.3C704.8,303.6,704.5,297.2,699.3,296.3z"></path>
        <path fill="#677575" d="M686.3,310.8c-2.9,5.3-0.4,13.9,6.4,14.1c6.8,0.2,6.5-1.3,6.5-1.3c0.5-2.4,2.1-3.6,2.1-3.6 c0.3-2.1-1-2.8-1-2.8l-0.2-1.6C697.8,316.9,689.3,319.1,686.3,310.8z"/>
        <path fill="#222B2B" d="M700.7,322.1c-0.3,0.5-0.6,1-1.1,1.3c-0.1,0.1-0.2,0.2-0.3,0.2c0,0,0,0,0,0c0.2-0.8,0.5-1.6,0.9-2.3 C700.4,321.5,700.5,321.7,700.7,322.1z"/>
        <path fill="#222B2B" d="M694.8,322.8c0.1,0.7,0.2,1.4,0.3,2.1c-0.9,0.1-2.4,0.2-3.3-0.2C692.8,324.1,693.8,323.5,694.8,322.8z"/>
        <path fill="#B2B2B2" d="M701.3,320.1c0,0.3-0.4,1.4-0.7,2c-0.1-0.3-0.3-0.6-0.5-0.8C700.5,320.9,700.9,320.4,701.3,320.1z"/>
        <path fill="#B2B2B2" d="M691.4,322.6c0.4-0.8,0.8-1.5,1.4-2.1C698.3,323,689.4,326.8,691.4,322.6z"/>
        <path fill="#141414" d="M697.9,308.2c0-0.6-1-0.5-0.9,0.1c0.2,4-0.3,8-1.5,11.9c-0.2,0.6,0.7,0.7,0.9,0.1 C697.7,316.4,698.2,312.3,697.9,308.2z"/>
        <path fill="#141414" d="M703.8,307.9c0-0.6-0.9-0.5-0.9,0.1c0,4-0.9,8-2.6,11.7c-0.2,0.5,0.6,0.9,0.8,0.4 C702.9,316.2,703.8,312.1,703.8,307.9z"/>
        <path fill="#B2B2B2" d="M685,288.4c0,0,15.4,0,16.7,0c2.5,0,4.3,3.1,3.1,6.2H685V288.4z"/>
        <path fill="#919191" d="M687.4,294.6c2.5-3.1-0.3-6.1-2.5-6.2c-2.4,0-4.3,1.9-4.3,4.3c0,2.5,2.5,3.7,4.3,3.7H701 c1.6,0,3.1-0.6,3.7-1.9H687.4z"/>
        <path fill="#141414" d="M697.3,296.5l1.3,0c1.6,0,3.1-0.8,3.8-2.2c1.5-3-0.5-5.9-3.3-5.9l-1.3,0c2.3,0,3.9,1.9,3.8,4.1 C701.5,294.7,699.6,296.5,697.3,296.5z"/>
        <path fill="#141414" d="M689.2,296.5l1.3,0c1.6,0,3.1-0.8,3.8-2.2c1.5-3-0.5-5.9-3.3-5.9l-1.3,0c2.3,0,3.9,1.9,3.8,4.1 C693.4,294.7,691.5,296.5,689.2,296.5z"/>
        <use xlink:href="#steps" width="24.1" height="11.3" x="-12.1" y="-5.6" transform="matrix(1 0 0 -1 711.0068 374.69)" overflow="visible"/>
        <use xlink:href="#steps" width="24.1" height="11.3" x="-12.1" y="-5.6" transform="matrix(1 0 0 -1 747.108 372.9468)" overflow="visible"/>
        <use xlink:href="#steps" width="24.1" height="11.3" x="-12.1" y="-5.6" transform="matrix(1 0 0 -1 747.1234 392.3962)" overflow="visible"/>
        <use xlink:href="#steps" width="24.1" height="11.3" x="-12.1" y="-5.6" transform="matrix(1 0 0 -1 783.7336 389.3329)" overflow="visible"/>
    </svg>
</div>
<div class="background hidden" id="climbing">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 800 450" preserveAspectRatio="xMidYMid slice">
        <defs>
            <linearGradient id="orange" x1="0%" x2="100%" y1="50%" y2="20%" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#4e89c5"/>
                <stop offset="1" stop-color="#f1aa94"/>
            </linearGradient>
            <linearGradient id="blue" x1="0%" x2="100%" y1="70%" y2="30%" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#063457"/>
                <stop offset=".5" stop-color="#1c65a4"/>
                <stop offset="1" stop-color="#4e89c5"/>
            </linearGradient>
        </defs>
        <path fill="url(#orange)" d="M424 0h376v450H424z"/>
        <path fill="url(#orange)" d="M664.1 450H384.3V0h116.1l17.1 6h25.4l2.6 21.6L559 40.3l-6.4 39.3-4.3 1.2-7.5 45.5 6.9 27.3 16.6 6 3.6 6.1-12.6 40.8-6.4 42.7 7.4 8.1 1.2 78.9 21.1 6.1 7.8 43.8 6.2-.5 6.6 23 14.8-1.8 50.1 43.2z"/>
        <path fill="url(#blue)" d="M260 450V0h281.9l-67.6 180.3L451 190l-25.4 63.2 27.1 59.6 28.2 1.7-9.6 36.5 30.7 63.5 9.1-11.5 12.1 26.6 53.2 20.4H260z"/>
        <path fill="url(#blue)" d="M382.2 332.6l1.6-19.6-7.7-4.6-.2-9.2-9.1-18.1 7.8-9.4 7.6 2.1 5-9.9.7.5-2.4 11.8-2.1.5-3.7 17.4 3.4 10.5 1.5.4 6.6 1.9a25 25 0 0 0 1.8 2.3l-5.8 15.1v-.2l-.3.8-3.1 16.3 3.6 3.1.6 30.3h.5c0 .7 1.2 1.7 5.3 2.5h.7l1.4.2 1.7.3h1l.4 2.1 3.2 13.7 3.1-.2 3.2 8.8 7.2-.7 1 6 14.9 1.1 8.8 7.3h-16.6l.2-4.4-30.6-6.2-1.1-22.7-13.4-5.4 3.3-5-9.9-35.8z"/>
        <path fill="url(#blue)" d="M0 450V0h671.9L570.7 44.2l-46.7 31-21 7.8-78.3 6.1 20.6 21.6-10.7 20.2-35.6-9.2 6.2 25.2 10.5 22.3-31.4 12.9 14.7 34.7-40.6 14.6-40-29.9 48.4 52.7-10.6 20.5-26.2-2.8 14.9 28.4 13.5 4.7-7.1 24.3-32.4 19 26 20.5 6.4 20 22.1 6.6-22.1 21.3 28.8 17.1 43.6-17.8h16.9l65 34H0z"/>
        <path fill="#825a1a" d="M531.1 0c4.3 29.3 2.3 59.5-4.3 88.4-1.7 7.2-3.6 14.3-5.8 21.4l-1.7 5.3-1.8 5.3-3.7 10.4a466.5 466.5 0 0 1-16.9 41.1 735.1 735.1 0 0 1-19.7 39.8l-10.6 19.5-10.6 19.4c-3.6 6.5-7 13.1-10.4 19.6s-6.6 13.2-9.4 20c-1.4 3.4-2.8 6.8-4 10.3a98.8 98.8 0 0 0-3.1 10.6 52.2 52.2 0 0 0-1 21.9h-.2a51.5 51.5 0 0 1 .2-22.1 131.3 131.3 0 0 1 6.6-21.3 397.5 397.5 0 0 1 19.5-39.9c7-13.1 14.3-25.9 21.3-38.9s14-26.1 20.4-39.4a405.6 405.6 0 0 0 17.3-40.8 322.4 322.4 0 0 0 15.9-64.4c1.1-7.3 2-14.6 2.4-22s.8-14.7.6-22.1-.5-14.7-1.2-22.1z"/>
        <path d="M461.8 171.6c-1.2-3.5-1.7-7.8-5.4-9.4-2.3 3.8-6.7.4-9 3.2s-.4 11.6 4.1 7.2c1.4 3.6-1.5 7.6 3 8.8 0-4.8 2.7-1.8 5-3.7s3.7-5.5 2.3-6.1zM507.6 177.7c-4.8-1.7-6.3-1.5-7.3 2.7-.7 2.6-2.2 1.3.1 3.9s4 2.1 4.1-.7c2.3 1.5 3.7 2.6 5.8 1.6-1.5-2.2.8-6.3-2.7-7.5zM478.6 77.7l7.2-10.2 4.7 1.3 2.9-1.1 3.6 5.8-1.5-1.6-16.9 5.8z" class="st0"/>
        <path d="M379.7 294.2c-6.7-9-4.8-17.9 5.8-17.9-3.5 4.6-3.6 11.3-5.8 17.9zM415.6 401.7c-2.8 2.1-7.2 3.3-10.4 4.8-.3-3.7-.8-9.3 0-12.9.8 11 5 5.2 10.4 8.1zM384.4 337.4l-9.8 3.9c3.3 1.5 9.1 2.6 12.7 3.1-4.9-2.3-1.6-4-2.9-7zM410.4 265.2c-3.4 0-5.5-.4-8.3 1.6 2.6 2.4-2 5.2 0 7.4a8.6 8.6 0 0 0 4.4 1.8c2.7.2 2.2-.8 1.9-2.9a16.9 16.9 0 0 1 3.9.8c.7.3.8 1 1.5 1s1.5-1.3 1.9-1.7-2-1.1-2.1-1.8 1.1-1.2 1-2.2-2.8-3.5-4-4.6zM386.6 324.9c-4-7.8-2.2-13.2 6.2-15.7-2 5.1-3.5 10.9-6.2 15.7z" class="st0"/>
        <g id="climbers">
            <path class="st3" d="M415.4,269.4c-1.4-1-4.5-3-5.3-2.7s8,7,.5,3.3c-.5.3,3.2,3.6,6.6,4l1.2-1.2A20.4,20.4,0,0,0,415.4,269.4Z"/>
            <path class="st6" d="M446.5,312.4l-9-23.1s-17.3-19.1-20.2-16.8-1.5,5.5.1,8.6c2.7,5.2,9.7,13.4,9.7,13.4l9.7,20.8Z"/>
            <path class="st3" d="M422.3,286.9c-.9.3-1,3.2-2.6,5.5,1.7-.3,1.1,3.9,1.4,4.4s1.8-1,2.1,4.2C428.3,300.2,422.5,287.1,422.3,286.9Z"/>
            <path class="st4" d="M421.1,283.5c1.7-6.7,11.1-7.9,14-1.5.7,1.5.6,3.2,1,4.8s1.8,3.7,2.5,5.7l-15.1,7.9c-.7-3,.5-6-.4-9S420.4,286.6,421.1,283.5Z"/>
            <path class="st5" d="M437.4,292.6a26.1,26.1,0,0,0-2.7.6,30,30,0,0,0-15.3,9,6.9,6.9,0,0,0-1.1,1.3,8.9,8.9,0,0,0-2.1,3.5,3.9,3.9,0,0,0,.5,3.7h0a12,12,0,0,1,6.5-7.2,17.8,17.8,0,0,1,8.5-1c2.7.1,5.6.3,8.4-.5-.3-2.5,1.2-4,2-6.1a.8.8,0,0,0,.2-.5C443.2,292.4,440.6,292.1,437.4,292.6Z"/>
            <path class="st3" d="M393.1,315.5a6.7,6.7,0,0,0-2.5-2.3s-3.4-.4-3.7-1.8a2.6,2.6,0,0,1-1.1-2.2c.8.1,0-1.6,1.4-1s3.5,3.5,5,1.4c1,.5-1,2.2,2,3.2"/>
            <path class="st6" d="M425.3,317.4s-9.3,8.9-9.8,9.8c-1.7-1.2-18-1.9-22.3-10.1-1.4-4.7,1.8-4.8,2.2-4.9,10.2-.7,16.1,3.1,16.1,3.1s6.2-7.9,10.2-11.5Z"/>
            <path class="st4" d="M396.1,379.2c.4-7.3-3.7-31-3.7-31l26.7-5.1,21.3,14.8-39.6-5.7c4.1,4.6.7,21.4-.8,26.5Z"/>
            <path class="st4" d="M400.1,378.8c-.7,1.9-1,3.9-2.8,4.8s-5.3-3.4-8-3.5c-1.1,0-5.5-1.5-4.4-2.8s9.1,1.2,12.8.2A1.9,1.9,0,0,1,400.1,378.8Z"/>
            <path class="st4" d="M437.5,404.9c.7-7.3-.4-27.5-.4-27.5l-4.5-30.1,15.3-.5-4.1,29c3.9,4.9-.7,23.7-2.4,28.7A25.8,25.8,0,0,1,437.5,404.9Z"/>
            <path class="st4" d="M441.4,404.4c.2,1.9.8,3.8-.4,5.5s-6.3-.8-8.7.3-5.6,1.1-5.3-.6c.7-3.2,8.7-2.9,11.7-5.4A1.8,1.8,0,0,1,441.4,404.4Z"/>
            <path class="st6" d="M435.2,341.6c2.8-1.8,18.4-41.6-3.7-42.3-9.4,0-13.5,7.5-14.2,20s-2.7,19,0,20.5C412.8,345.5,438.2,350.8,435.2,341.6Z"/>
            <path class="st7" d="M452.2,356.2c3.5,8.5-26.6,8.3-21.8-4.4C433.3,358.5,445.1,360.5,452.2,356.2Z"/>
            <path class="st7" d="M431.3,335.3a42.9,42.9,0,0,0-6,1.3l-3.9,1.5a4.7,4.7,0,0,0-1.2.7,2.7,2.7,0,0,0-.5,1.5.9.9,0,0,0,0,.7c.1,2.3,1.8,4.2,3.7,5.6a19.4,19.4,0,0,0,2.9,2.1l.4.3,4.7,3.2c-.1-1.5-.1-2.9-.2-4.4,0-3.2.1-6.5.3-9.7A8.4,8.4,0,0,0,431.3,335.3Z"/>
            <path class="st7" d="M428.7,308.5c7.1,0,2.6,32.7-.2,32.7S425.9,308.5,428.7,308.5Z"/>
            <path class="st7" d="M459.9,330.3c-.9,10-4.7,15.1-15.1,14.8-14.1-.4-15.9-10.6-15.9-19.8S459.9,321.1,459.9,330.3Z"/>
            <path class="st6" d="M459.2,331.8c-1.2,9.7-7.6,11.1-14.1,12.6s-13.7-9-13.7-17Z"/>
            <path class="st8" d="M452.2,309.9H428.8a17.4,17.4,0,0,1,2.6,1.5c-1.2,1.2-2.6,3.7-2.5,13.6.7.5,14,11.4,12.9,19.3,5.3.6,12.3-.7,14.9-4.5.1-4.5,4.7-9.9,4.8-12.5C461.5,322.3,461.1,311.5,452.2,309.9Z"/>
            <path class="st8" d="M430.1,334.6c-4.9,9-.6,23.7,10.9,24s11.1-2.1,11.1-2.1a10.8,10.8,0,0,1,3.6-6.1c.5-3.6-1.7-4.8-1.7-4.8l-.4-2.6C449.7,344.9,435.3,348.7,430.1,334.6Z"/>
            <path class="st8" d="M454.5,353.8a7.6,7.6,0,0,1-1.8,2.2l-.5.4c0,.1,0,.1-.1.1a14,14,0,0,1,1.6-4A3.2,3.2,0,0,1,454.5,353.8Z"/>
            <path class="st8" d="M444.6,355.1l.5,3.5c-1.5.1-4.1.4-5.7-.4Z"/>
            <path class="st6" d="M455.7,350.4a11.6,11.6,0,0,1-1.2,3.4,3.2,3.2,0,0,0-.8-1.3A8,8,0,0,1,455.7,350.4Z"/>
            <path class="st6" d="M438.9,354.7a16.9,16.9,0,0,1,2.3-3.6C450.5,355.4,435.4,361.8,438.9,354.7Z"/>
            <path class="st6" d="M449.9,330.2c-.1-1-1.6-.8-1.6.2a53.5,53.5,0,0,1-2.5,20.2c-.3.9,1.2,1.1,1.5.2A55.7,55.7,0,0,0,449.9,330.2Z"/>
            <path class="st6" d="M459.9,329.7c0-1-1.6-.8-1.6.2a48.1,48.1,0,0,1-4.4,20,.8.8,0,0,0,1.4.6A51.6,51.6,0,0,0,459.9,329.7Z"/>
            <path class="st9" d="M427.9,296.5h28.3c4.2,0,7.4,5.3,5.3,10.5H427.9Z"/>
            <path class="st10" d="M432.1,307c4.2-5.2-.6-10.4-4.2-10.5a7.3,7.3,0,0,0-7.4,7.4c0,4.2,4.2,6.2,7.4,6.3h27.3c2.7,0,5.2-1.1,6.3-3.2Z"/>
            <path class="st11" d="M448.9,310.3H451a6.9,6.9,0,0,0,6.5-3.7c2.6-5-.7-10-5.5-10.1h-2.2a6.5,6.5,0,0,1,6.5,7A7.4,7.4,0,0,1,448.9,310.3Z"/>
            <path class="st11" d="M435.1,310.3h2.2a6.9,6.9,0,0,0,6.5-3.7c2.5-5-.8-10-5.6-10.1h-2.1a6.5,6.5,0,0,1,6.4,7A7.3,7.3,0,0,1,435.1,310.3Z"/>
            <path class="st13" d="M512.5,156.8l.9.2-.9-.2Z"/>
            <path class="st4" d="M510.2,180c-.8.6-1.4,3.4-2.4,3.2s-1.2-2.8-2.3-3.6-1.6-2.6-.7-2.9,1.5.9,3.3,1.6S510.5,179.5,510.2,180Z"/>
            <path class="st8" d="M507.8,178.3c.7-7.1-1.8-11.3-1.8-11.3l2.1-20.6,14-.5-9.2,20.8c.4,4.9-1,8.4-2.6,13.2C509,180.1,509,178.3,507.8,178.3Z"/>
            <path class="st4" d="M465.6,173.5c-1.6.9-2.9,2.2-4.8,1.9s-1.9-5.6-3.8-7.1-3.2-4.3-1.6-4.7,5.9,6.1,9.2,7.6A1.7,1.7,0,0,1,465.6,173.5Z"/>
            <path class="st8" d="M462.7,170.3c.4-7.1,13-18.4,13-18.4l18.5-9.5,21.3,15.3s-23.6,1.1-37-.2c-.3,3.8-11.2,10.7-12.6,15.6C464.6,173.3,463.9,170.2,462.7,170.3Z"/>
            <path class="st3" d="M507.1,101c.9-5.5-8.8-11.2-9.8-13.1-1.4,1.7-1.7,7-1.2,9s1.3-.2,2,1.2.2,1.7.3,3.5C501.3,100.9,504.4,102.1,507.1,101Z"/>
            <path class="st12" d="M508.4,142.4c2.6-1.8,17.1-38.8-3.5-39.4-8.7,0-12.6,7-13.2,18.6s-2.5,17.6,0,19.1C487.5,145.9,511.2,150.9,508.4,142.4Z"/>
            <path class="st14" d="M497.7,89a4.1,4.1,0,0,1-2.3-4.8c1.1-3.9,5.8-5.2,7.9-5s4.2,2,4.3,4.1c3-1.5,6.2,5.2-1,14.5l-4.4-.2C500.6,94.8,499.3,91.8,497.7,89Z"/>
            <path class="st3" d="M491.9,69.5c.3-2.4-2.7-5.1-4.9-3.9,1,2.5,2.9,2.3.4,3.8"/>
            <path class="st12" d="M505.8,109.4c-3.4-7-5.7-13.9-9.2-20.9.9-5-.2-16.6-4.3-19.3-9-5.3-8.8,16.5-8.3,22.8s5.5,13.5,9.4,19.6Z"/>
            <path class="st3" d="M542.3,147.3c.6,2.3,2.5,5.7,2.9,5.2-2.6-7.9,2.6.9,3.3.8s-2-4.8-2.7-6.6"/>
            <path class="st12" d="M514.7,115.4c5.8,5.2,10.5,10.7,16.3,15.9.9,5,6.3,15.4,11.1,16.4,10.3,1.6,2.1-18.6-.8-24.3s-10-10.5-15.9-14.7Z"/>
            <path class="st11" d="M523.9,154.9c3.2,7.8-24.8,7.7-20.3-4.2C506.3,157,517.3,158.9,523.9,154.9Z"/>
            <path class="st11" d="M504.4,135.4a33.7,33.7,0,0,0-5.5,1.2l-3.7,1.4a4.1,4.1,0,0,0-1.1.7,2.2,2.2,0,0,0-.5,1.4v.6c.1,2.1,1.7,3.9,3.4,5.3l2.8,1.9.3.3,4.4,2.9c-.1-1.4-.1-2.7-.1-4.1-.1-3,0-6,.2-9A7.4,7.4,0,0,0,504.4,135.4Z"/>
            <path class="st15" d="M502,110.4c6.6,0,2.4,30.5-.2,30.5S499.4,110.4,502,110.4Z"/>
            <path class="st15" d="M531,130.7c-.8,9.3-4.3,14.1-14,13.8-13.1-.3-14.8-9.9-14.8-18.4S531,122.2,531,130.7Z"/>
            <path class="st9" d="M530.4,132.2c-1.1,9-7.1,10.2-13.1,11.7s-12.8-8.4-12.8-15.9Z"/>
            <path class="st16" d="M523.9,111.8H502.1l2.4,1.3c-1.1,1.1-2.4,3.5-2.3,12.7.6.5,13,10.6,12,18,5,.5,11.4-.7,13.8-4.3.2-4.1,4.5-9.2,4.5-11.5C532.6,123.3,532.2,113.2,523.9,111.8Z"/>
            <path class="st16" d="M503.3,134.8c-4.6,8.3-.5,22,10.2,22.3s10.3-2,10.3-2a10.3,10.3,0,0,1,3.3-5.6c.5-3.4-1.6-4.5-1.6-4.5l-.3-2.5C521.5,144.3,508.1,147.9,503.3,134.8Z"/>
            <path class="st15" d="M526.1,152.6a9.1,9.1,0,0,1-1.8,2.1l-.4.4h-.1a12,12,0,0,1,1.5-3.7A2.8,2.8,0,0,1,526.1,152.6Z"/>
            <path class="st15" d="M516.8,153.8l.5,3.3c-1.4,0-3.8.3-5.3-.4Z"/>
            <path class="st9" d="M527.1,149.5a12.2,12.2,0,0,1-1,3.1,2.8,2.8,0,0,0-.8-1.2A8.1,8.1,0,0,1,527.1,149.5Z"/>
            <path class="st9" d="M511.5,153.5a13.3,13.3,0,0,1,2.2-3.4C522.3,154.1,508.3,160.1,511.5,153.5Z"/>
            <path class="st11" d="M521.7,130.7c0-1-1.5-.8-1.4.1a50,50,0,0,1-2.4,18.8c-.3.9,1.2,1.1,1.5.2A53.9,53.9,0,0,0,521.7,130.7Z"/>
            <path class="st11" d="M531,130.2c0-.9-1.4-.7-1.4.2a48.3,48.3,0,0,1-4.1,18.6c-.4.8.9,1.4,1.3.5A47.9,47.9,0,0,0,531,130.2Z"/>
            <path class="st9" d="M501.2,99.3h26.4c3.9,0,6.9,4.9,4.9,9.8H501.2Z"/>
            <path class="st10" d="M505.1,109.1a5.8,5.8,0,0,0-3.9-9.8,6.6,6.6,0,0,0-6.8,6.8c0,3.9,3.9,5.8,6.8,5.9h25.4c2.6,0,4.9-1,5.9-2.9Z"/>
            <path class="st11" d="M520.8,112.1h2a6.6,6.6,0,0,0,6.1-3.4c2.3-4.7-.8-9.3-5.2-9.4h-2a6.1,6.1,0,0,1,6,6.5A6.9,6.9,0,0,1,520.8,112.1Z"/>
            <path class="st11" d="M508,112.1h2a6.4,6.4,0,0,0,6-3.4c2.4-4.7-.7-9.3-5.1-9.4h-2a6.1,6.1,0,0,1,6,6.5A6.9,6.9,0,0,1,508,112.1Z"/>
        </g>
    </svg>
</div>
<div class="background hidden" id="biking">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 800 450" preserveAspectRatio="xMidYMid slice">
        <defs>
            <linearGradient id="SVGID_40_" gradientUnits="userSpaceOnUse" x1="400" y1="-61.8691" x2="400" y2="257.6773">
                <stop offset="0" style="stop-color:#00194F"/>
                <stop offset="0.2061" style="stop-color:#00306C"/>
                <stop offset="0.5" style="stop-color:#01559B"/>
                <stop offset="0.6909" style="stop-color:#677687"/>
                <stop offset="0.9046" style="stop-color:#D39A72"/>
                <stop offset="1" style="stop-color:#FFA86A"/>
            </linearGradient>
            <linearGradient id="SVGID_41_" gradientUnits="userSpaceOnUse" x1="230.8196" y1="631.7353" x2="-39.3501" y2="353.5874" gradientTransform="matrix(0.9175 0.9175 -0.8911 0.8911 323.131 -334.4948)">
                <stop offset="0" style="stop-color:#2865A4"/>
                <stop offset="1" style="stop-color:#4E89C5"/>
            </linearGradient>
            <linearGradient id="SVGID_42_" gradientUnits="userSpaceOnUse" x1="316.4647" y1="440.1198" x2="201.2871" y2="321.5409" gradientTransform="matrix(0.9175 0.9175 -0.8911 0.8911 323.131 -334.4948)">
                <stop offset="0" style="stop-color:#2865A4"/>
                <stop offset="1" style="stop-color:#4E89C5"/>
            </linearGradient>
            <linearGradient id="SVGID_43_" gradientUnits="userSpaceOnUse" x1="309.0226" y1="190.2409" x2="755.7564" y2="190.2409">
                <stop offset="0" style="stop-color:#F1AA94"/>
                <stop offset="1" style="stop-color:#4E89C5"/>
            </linearGradient>
            <linearGradient id="SVGID_44_" gradientUnits="userSpaceOnUse" x1="364.9836" y1="245.0902" x2="665.9857" y2="245.0902">
                <stop offset="0" style="stop-color:#F1AA94"/>
                <stop offset="1" style="stop-color:#4E89C5"/>
            </linearGradient>
            <linearGradient id="SVGID_45_" gradientUnits="userSpaceOnUse" x1="293.6618" y1="285.5569" x2="583.2527" y2="285.5569">
                <stop offset="0" style="stop-color:#F1AA94"/>
                <stop offset="1" style="stop-color:#4E89C5"/>
            </linearGradient>
            <linearGradient id="SVGID_46_" gradientUnits="userSpaceOnUse" x1="293.6618" y1="305.8804" x2="499.7824" y2="305.8804">
                <stop offset="0" style="stop-color:#F1AA94"/>
                <stop offset="1" style="stop-color:#4E89C5"/>
            </linearGradient>
            <linearGradient id="SVGID_47_" gradientUnits="userSpaceOnUse" x1="241.673" y1="391.0713" x2="241.673" y2="218.3678">
                <stop offset="0" style="stop-color:#2865A4"/>
                <stop offset="1" style="stop-color:#4E89C5"/>
            </linearGradient>
            <linearGradient id="SVGID_48_" gradientUnits="userSpaceOnUse" x1="142.2068" y1="166.3327" x2="78.8114" y2="101.0651">
                <stop offset="0" style="stop-color:#2865A4"/>
                <stop offset="1" style="stop-color:#4E89C5"/>
            </linearGradient>
            <linearGradient id="SVGID_49_" gradientUnits="userSpaceOnUse" x1="211.8529" y1="252.2703" x2="133.0568" y2="171.1474">
                <stop offset="0" style="stop-color:#2865A4"/>
                <stop offset="1" style="stop-color:#4E89C5"/>
            </linearGradient>
            <linearGradient id="SVGID_50_" gradientUnits="userSpaceOnUse" x1="52.6898" y1="236.9016" x2="173.7464" y2="446.5779">
                <stop offset="0" style="stop-color:#89B17F"/>
                <stop offset="1" style="stop-color:#3F7BA0"/>
            </linearGradient>
            <linearGradient id="SVGID_51_" gradientUnits="userSpaceOnUse" x1="217.6015" y1="298.5033" x2="309.9439" y2="458.4452">
                <stop offset="0" style="stop-color:#89B17F"/>
                <stop offset="1" style="stop-color:#3F7BA0"/>
            </linearGradient>
            <linearGradient id="SVGID_52_" gradientUnits="userSpaceOnUse" x1="472.6738" y1="296.6562" x2="534.4084" y2="403.5836">
                <stop offset="0" style="stop-color:#89B17F"/>
                <stop offset="1" style="stop-color:#3F7BA0"/>
            </linearGradient>
            <linearGradient id="SVGID_53_" gradientUnits="userSpaceOnUse" x1="557.6523" y1="323.35" x2="673.0803" y2="523.2771">
                <stop offset="0" style="stop-color:#89B17F"/>
                <stop offset="1" style="stop-color:#3F7BA0"/>
            </linearGradient>
        </defs>
        <g id="biking">
            <rect x="0" fill="url(#SVGID_40_)" width="800" height="450"/>
            <g id="mont">
                <path fill="url(#SVGID_41_)" d="M-28.1,311.2L-28.1,311.2L-28.1,311.2C-28.1,311.2-28.1,311.2-28.1,311.2z"/>
                <path fill="url(#SVGID_42_)" d="M411.2,220c0,0-14.7-34.1-46.2-81.9C286.8,99.1,150.2,248.3,31.3,335.9l121.7,50.3 c46.1-99.2,140.6-198.5,140.6-198.5C344.8,192.8,411.2,220,411.2,220z"/>
                <path fill="url(#SVGID_43_)" d="M347.6,73.2c-12.1-6.2-25.3-9.4-38.5-9.6c22.5,26.5,41.1,52,56,74.6l301,178.6l89.8-33.3 L347.6,73.2z"/>
                <path fill="url(#SVGID_44_)" d="M365,138.2c31.5,47.8,46.2,81.8,46.2,81.8s84.7,44,160.1,131.9l94.7-35.1 C525.7,220.1,365,138.2,365,138.2z"/>
                <path fill="url(#SVGID_45_)" d="M486.6,383.4l96.7-35.7C497.5,260.9,411.2,220,411.2,220s-66.4-27.3-117.5-32.4 C293.7,187.7,408.2,273.6,486.6,383.4z"/>
                <path fill="url(#SVGID_46_)" d="M499.8,378.5c-78.3-109.9-206.1-190.8-206.1-190.8c59.4,112.2,82,229.2,83.4,236.4L499.8,378.5z"/>
                <path fill="url(#SVGID_47_)" d="M293.7,187.7c0,0-92,69.8-187.4,178.9l201,83.5l69.8-25.9C359.5,318.8,312.8,223.8,293.7,187.7z"/>
                <path fill="url(#SVGID_48_)" d="M0,289.4c75.7-67,249-216.8,304.2-225.6c-12.1,0.5-24,3.5-35.1,9.1L0,207.6V289.4z"/>
                <path fill="url(#SVGID_49_)" d="M309,63.6c-1.6,0-3.2,0-4.8,0.1C249.6,72.5,77.5,218.5,0,286.4v36.4l47.3,19.6 C166.1,254.8,296.5,108.6,365,138.2C350.1,115.7,331.5,90.1,309,63.6z"/>
            </g>
            <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(1.6108 0 0 -1.5827 48 258)" overflow="visible"/>
            <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(1.6108 0 0 -1.6067 62 271.5)" overflow="visible"/>
            <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(1.6108 0 0 -1.5827 85.1285 261.7303)" overflow="visible"/>
            <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(1.6108 0 0 -1.5827 93.1409 267.591)" overflow="visible"/>
            <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(1.566 0 0 -1.5827 108.2669 270.664)" overflow="visible"/>
            <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(1.6108 0 0 -1.5827 198 303)" overflow="visible"/>
            <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(1.566 0 0 -1.5827 152.0412 282)" overflow="visible"/>
            <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(1.6108 0 0 -1.5827 172 312)" overflow="visible"/>
            <path fill="url(#SVGID_50_)" d="M0,267.3v162l296.5-53.6C299.1,373.5,75,264.6,0,267.3z"/>
            <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(2.5446 0 0 -2.6138 43.5461 394.7942)" overflow="visible"/>
            <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(2.5446 0 0 -2.6138 113.5461 379.7942)" overflow="visible"/>
            <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(2.5446 0 0 -2.6138 141.6766 364.7942)" overflow="visible"/>
            <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(2.5446 0 0 -2.6138 168.5461 373.7942)" overflow="visible"/>
            <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(2.5446 0 0 -2.6138 598.4348 254.5)" overflow="visible"/>
            <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(2.5446 0 0 -2.6138 553.4348 265.5)" overflow="visible"/>
            <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(2.5446 0 0 -2.6138 581.5652 244.5)" overflow="visible"/>
            <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(2.5446 0 0 -2.6138 521.5652 279.5)" overflow="visible"/>
            <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(2.5446 0 0 -2.6138 78.5461 379.7942)" overflow="visible"/>
            <path fill="url(#SVGID_51_)" d="M0,424.1L0,450h281.5c0,0,113.5-25,254.3-128.7C512,326.9,0,424.1,0,424.1z"/>
            <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(4.0008 0 0 -3.931 242.2586 368.0363)" overflow="visible"/>
            <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(4.0008 0 0 -3.931 305.2925 351.9637)" overflow="visible"/>
            <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(4.0008 0 0 -3.931 358.9116 322.085)" overflow="visible"/>
            <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(4.0008 0 0 -3.931 336.687 368.0363)" overflow="visible"/>
            <path fill="url(#SVGID_52_)" d="M800,250.2c-30.3-2.1-123-17.1-200,9.8c-52.1,11.8-357.3,169-392.9,190h159.6 C427.4,423.4,800,250.2,800,250.2z"/>
            <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(4.7347 0 0 -4.6521 747.0909 246.2369)" overflow="visible"/>
            <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(4.7347 0 0 -4.6521 475.5548 353)" overflow="visible"/>
            <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(4.7347 0 0 -4.6521 702.0909 272)" overflow="visible"/>
            <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(4.7347 0 0 -4.6521 636.1321 251.6142)" overflow="visible"/>
            <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(4.7347 0 0 -4.6521 616.1426 306.5008)" overflow="visible"/>
            <use xlink:href="#tree" width="22.3" height="41.7" x="-11.2" y="-20.9" transform="matrix(4.7347 0 0 -4.6521 441.4043 333.8806)" overflow="visible"/>
            <path fill="url(#SVGID_53_)" d="M800,450V236.5C742.4,268.7,399,423.4,338.3,450H800z"/>
            <g id="bike">
                <path fill="#263238" d="M680.3,371.7c0.1,1.4,0.6,2.7-0.3,3.8c-0.8,1.1-4.4-0.5-6,0.2c-0.7,0.3-3.9,0.8-3.7-0.4 c0.5-2.2,6.1-2,8.1-3.7C679,371.1,679.7,371.1,680.3,371.7z"/>
                <path fill="#2A3C4F" d="M677.6,372.2c0.5-5.3-0.3-19.9-0.3-19.9l-3.3-21.7l11-0.4l-2.9,20.9c2.8,3.5-0.5,17.2-1.7,20.8 C679.4,372.1,678.5,372.2,677.6,372.2z"/>
                <g>
                    <ellipse fill="#747475" cx="663.8" cy="365.8" rx="5.6" ry="6.7"/>
                    <g>
                        <path fill="#A7A7A9" d="M639.7,373.5c-25.1,10.9-34.7-43.3-4.7-32.8c-3.3-4.6-20.2-7.6-20.4,13l0,0 C614.2,365.6,627.1,384.2,639.7,373.5z"/>
                        <path fill="#6D6D6D" d="M646.7,360.4c-2.1-0.5-14.1-4-14.1-4c1.7-2.3,10.1-3.2,12.9-4.1c-1.2,0.3-13.3,3.8-13.2,3.2 c0.4-2.3,8.8-9.2,10-10.4c-4.4,1.3-7.2,5.7-10.6,9.2c-2.5-2.7-0.5-14.9-0.5-18.2c-4,1.2-2,9.7-2,13.6c-1.3-4.6-2.7-9.1-4-13.7 c-4.1,1.2,1.1,11.3,2,14.3c-0.4-0.7-8-13.5-8.7-10.7c-0.6,2.3,6.4,10.7,7.7,12.9c0.7,0.5-12.2-8.8-11.4-6.8 c1,2.6,10.3,8.2,12,9.6c-0.9-0.2-13.2-2.1-13.1-2c3.2,2.9,10.7,0.8,14,3.6c-0.6-0.5-12.3,4.6-12.8,4.4 c0.5,0.1,13.2-3.4,13.2-3.3c-0.4,1.4-9.5,10.7-9.7,10.7c2.9,0.4,8.5-7.6,9.7-8.9c-1,2.9-5.8,11.4-5,14.3 c0.5,1.8,5.7-10.8,6-11.7c0,3.5-1.9,11.9,0,14.9c1.3,2.1,2-12.5,2-13.3c0.7,2.6,1.8,12.1,3.9,13.4c3.6,2.1-1.6-12.7-1.9-14 c2.1,3.3,4.8,11.6,9,10.3c-2.7-4.2-5.3-8.3-8-12.5c-0.7-0.5,12.1,8.7,11.4,6.8c-1-2.6-10.3-8.2-12-9.5 C633.7,358.4,646.7,362.7,646.7,360.4z"/>
                        <path fill="#191B1A" d="M646.6,354.6c-4.9-18.5-16.7-20.9-21.3-19.6c-14.9,2.8-12.7,21.5-12.7,21.5c2,15.4,14.1,23.8,20.8,22.6 C644,377.8,649.2,368.4,646.6,354.6z M632.4,376.9c-6,0.3-15.2-6.4-17.6-19.9c0,0-2.7-16.9,10.8-19.4c4.3-0.9,14.3,3.2,18,17.5 C646,367,641.5,375.9,632.4,376.9z"/>
                    </g>
                    <g>
                        <path fill="#A7A7A9" d="M695.2,385.5c-25.1,10.9-34.7-43.3-4.7-32.8c-3.3-4.6-20.2-7.6-20.4,13l0,0 C669.7,377.7,682.6,396.2,695.2,385.5z"/>
                        <path fill="#6D6D6D" d="M702.2,372.4c-2.1-0.5-14.1-4-14.1-4c1.7-2.3,10.1-3.2,12.9-4.1c-1.2,0.3-13.3,3.8-13.2,3.2 c0.4-2.3,8.8-9.2,10-10.4c-4.4,1.3-7.2,5.7-10.6,9.2c-2.5-2.7-0.5-14.9-0.5-18.2c-4,1.2-2,9.7-2,13.6c-1.3-4.6-2.7-9.1-4-13.7 c-4.1,1.2,1.1,11.3,2,14.3c-0.4-0.7-8-13.5-8.7-10.7c-0.6,2.3,6.4,10.7,7.7,12.9c0.7,0.5-12.2-8.8-11.4-6.8 c1,2.6,10.3,8.2,12,9.6c-0.9-0.2-13.2-2.1-13.1-2c3.2,2.9,10.7,0.8,14,3.6c-0.6-0.5-12.3,4.6-12.8,4.4 c0.5,0.1,13.2-3.4,13.2-3.3c-0.4,1.4-9.5,10.7-9.7,10.7c2.9,0.4,8.5-7.6,9.7-8.9c-1,2.9-5.8,11.4-5,14.3 c0.5,1.8,5.7-10.8,6-11.7c0,3.5-1.9,11.9,0,14.9c1.3,2.1,2-12.5,2-13.3c0.7,2.6,1.8,12.1,3.9,13.4c3.6,2.1-1.6-12.7-1.9-14 c2.1,3.3,4.8,11.6,9,10.3c-2.7-4.2-5.3-8.3-8-12.5c-0.7-0.5,12.1,8.7,11.4,6.8c-1-2.6-10.3-8.2-12-9.5 C689.3,370.4,702.2,374.8,702.2,372.4z"/>
                        <path fill="#191B1A" d="M702.1,366.6c-4.9-18.5-16.7-20.9-21.3-19.6c-14.9,2.8-12.7,21.5-12.7,21.5c2,15.4,14.1,23.8,20.8,22.6 C699.5,389.8,704.7,380.4,702.1,366.6z M687.9,388.9c-6,0.3-15.2-6.4-17.6-19.9c0,0-2.7-16.9,10.8-19.4 c4.3-0.9,14.3,3.2,18,17.5C701.5,379.1,697.1,387.9,687.9,388.9z"/>
                    </g>
                    <path fill="#1D1F1E" d="M663.7,367.2c2.5-3.2-3.9-3.7-6-4.3c0.7-1-5.4-0.5-6.4-0.1c-1.5,0.6,2,3.1,3.4,2.8 c1.9-0.4,3.8,0.9,4.9,1.2C660.6,367,660.9,367.9,663.7,367.2z M655.6,362 M652.1,367.6"/>
                    <path fill="#AFAFAF" d="M687.1,369.3c-3.2-5.4-16.8-22.9-13.5-28.1c-1.9,0.1-1.5-0.3-3.3-0.9c-6.3,1.4-19.4-15.7-25.4-18.1 c-0.5-0.2-0.7-1.8-2.3-1.5c-2.3,0.3-3.6,8.1-4.3,10.1c-0.9,2.5-10,25.8-8.4,26.2c3.9,1,10.5-22.3,11.9-25.9 c3.4,5.9,6.9,11.8,10.3,17.7c2.4,4.1,4.6,10.3,8,13.7c3,3,4.8,3.8,9,5.3C673.5,369.3,684.8,372.9,687.1,369.3z M663.9,360 c-0.2,1,0.6,0.8,0.6,0.8c-3.5,0-8.8-13.2-12.1-18.8c-2.6-4.5-8.1-10.8-8.8-15.8c7,5.3,16.8,10.4,22.4,17c2.9,3.5,2.4,1.2,1.4,6.3 C666.6,353,665,356.6,663.9,360z M670.8,366.2c-2.1-0.4-4.2-0.9-6.2-1.3c1.9-6,4.7-10.3,6.8-16.9c3.9,6.7,7.7,13.3,11.6,20 C679,367.2,674.8,365.7,670.8,366.2z"/>
                    <path fill="#1D1F1E" d="M682.4,331.2c0.1-3.2-3.6-2.6-5.7-3.1c-2.3-0.6-5.9-3.2-8.2-1.5c-4.3,3.1,4.6,2.7,5.1,5.3 c0.3,1.7-6,8.6-2,10.2c2.1,0.8,2.3-1.7,2.8-3.2c1.2-3.5,0.5-4.7,4.2-4.7C680.2,333.7,682.3,333.2,682.4,331.2z"/>
                    <path fill="#191B1A" d="M624.6,325.9c-0.9,0.3-0.8,1.6,0.6,1.3c18.2-5,26-7.3,36.2-7.3c0.6,0,0.6-1,0-1.1 C646.6,317.9,639.6,320.2,624.6,325.9z"/>
                </g>
                <path fill="#FFCCBC" d="M636,323.4c-0.1-2.1-0.7-0.8-2.7-1.1c0.1-1.9,2.9-2.8,4.4-1.7l1.1,1.2l-0.4,1.8L636,323.4z"/>
                <path fill="#FFCCBC" d="M685.7,333c-0.3,1.8-0.1,4.6,0.4,4.4c0.6-6.1,1.5,1.4,2,1.6c0.5-0.4,0.1-3.9,0.2-5.3"/>
                <path fill="#0DACD1" d="M676.6,303c2.4,5.3,3.9,10.5,6.2,15.8c-0.9,3.7-0.4,12.3,2.6,14.5c6.5,4.2,7-12,6.8-16.7 c-0.3-5.4-3.6-10.1-6.3-14.8L676.6,303z"/>
                <path fill="#312E54" d="M677.9,338.3c0.2,0.1,0.5,0.1,0.7,0.2C678.3,338.5,678.1,338.4,677.9,338.3 C677.9,338.3,677.9,338.3,677.9,338.3z"/>
                <path fill="#0DACD1" d="M664.7,301.5c-4.3,4.2-8.9,7.6-13.2,11.9c-3.9,0.6-12.3,4.4-13.3,8c-1.7,7.7,14.3,2,18.9,0 c5.2-2.3,8.6-7.3,12.3-11.6L664.7,301.5z"/>
                <path fill="#263238" d="M660.2,359.9c0.1,1.4,0.6,2.7-0.3,3.8c-0.8,1.1-4.4-0.5-6,0.2c-0.7,0.3-2.4-1.1-2.2-2.3 c0.5-2.2,4.5-0.1,6.6-1.8C658.8,359.3,659.6,359.2,660.2,359.9z"/>
                <path fill="#2A3C4F" d="M657.3,360.3c0.2-5.3-1.2-19.7-1.2-19.7l8.1-13l11.2,5l-15,9.1c3,3.4,0.8,14.5-0.3,18.2 C659.2,360.1,658.3,360.2,657.3,360.3z"/>
                <path fill="#FFCCBC" d="M673.9,296.6c0.7-4.1-6.6-8.4-7.3-9.8c-1,1.3-1.3,5.2-1,6.7c0.3,1.2,1-0.2,1.5,0.8 c0.5,0.9,0.2,1.3,0.3,2.6C669.5,296.5,671.8,297.4,673.9,296.6z"/>
                <path fill="#0DACD1" d="M674.8,327.5c1.9-1.3,12.8-28.9-2.6-29.4c-6.5,0-9.4,5.2-9.8,13.9c-1,8.3-1.9,13.2,0,14.2 C659.2,330.2,676.9,333.9,674.8,327.5z"/>
                <path fill="#BF360C" d="M666.9,287.7c-1.4-0.6-2.1-2.2-1.8-3.6c0.8-2.9,4.3-3.9,5.9-3.7s3.1,1.5,3.2,3.1c2.3-1.1,4.7,3.8-0.8,10.8 c-1.6,0-1.7-0.1-3.3-0.1C669,292,668,289.8,666.9,287.7z"/>
                <path fill="#141414" d="M686.4,336.9c2.4,5.9-18.5,5.8-15.1-3.1C673.2,338.4,681.5,339.9,686.4,336.9z"/>
                <path fill="#141414" d="M671.9,322.3c-1.4,0.2-2.8,0.5-4.1,1c-0.9,0.3-1.9,0.6-2.8,1c-0.3,0.1-0.6,0.3-0.8,0.5 c-0.3,0.3-0.4,0.7-0.4,1c0,0.2,0,0.3,0,0.5c0.1,1.6,1.3,3,2.6,4c0.7,0.5,1.4,1,2.1,1.5c0.1,0.1,0.2,0.1,0.3,0.2 c1.1,0.7,2.2,1.5,3.3,2.2c-0.1-1-0.1-2-0.1-3c0-2.3,0-4.5,0.2-6.8C672,323.6,672.1,322.9,671.9,322.3z"/>
                <path fill="#222B2B" d="M670.1,303.7c5,0,1.8,22.8-0.2,22.8C667.5,326.4,668.1,303.7,670.1,303.7z"/>
                <path fill="#222B2B" d="M691.7,318.8c-0.6,6.9-3.2,10.5-10.5,10.3c-9.8-0.3-11.1-7.4-11.1-13.8S691.7,312.4,691.7,318.8z"/>
                <path fill="#B2B2B2" d="M691.2,319.9c-0.8,6.8-5.3,7.7-9.8,8.8c-5.2,1.3-9.6-6.3-9.6-11.8L691.2,319.9z"/>
                <path fill="#677575" d="M686.4,304.7h-16.2c0.6,0.3,1.2,0.6,1.7,1c-0.8,0.9-1.7,2.6-1.7,9.5c0.5,0.3,9.8,7.9,9,13.4 c3.7,0.4,8.5-0.5,10.3-3.2c0.1-3.1,3.3-6.9,3.3-8.7C692.9,313.3,692.6,305.7,686.4,304.7z"/>
                <path fill="#677575" d="M671,321.9c-3.4,6.2-0.4,16.5,7.6,16.7c8,0.2,7.7-1.5,7.7-1.5c0.6-2.8,2.5-4.2,2.5-4.2 c0.3-2.5-1.2-3.3-1.2-3.3l-0.2-1.9C684.7,329,674.6,331.6,671,321.9z"/>
                <path fill="#222B2B" d="M688,335.2c-0.3,0.6-0.8,1.1-1.3,1.6c-0.1,0.1-0.2,0.2-0.3,0.3c0,0,0,0,0,0c0.2-1,0.6-1.9,1.1-2.8 C687.7,334.5,687.9,334.8,688,335.2z"/>
                <path fill="#222B2B" d="M681.1,336.1c0.1,0.8,0.2,1.6,0.3,2.4c-1,0.1-2.9,0.3-3.9-0.3C678.7,337.6,679.9,336.8,681.1,336.1z"/>
                <path fill="#B2B2B2" d="M688.8,332.8c0,0.4-0.5,1.7-0.8,2.3c-0.1-0.4-0.3-0.7-0.6-0.9C687.8,333.7,688.3,333.2,688.8,332.8z"/>
                <path fill="#B2B2B2" d="M677.1,335.8c0.4-0.9,1-1.7,1.6-2.5C685.2,336.3,674.7,340.8,677.1,335.8z"/>
                <path fill="#141414" d="M684.8,318.8c0-0.7-1.1-0.6-1.1,0.1c0.3,4.7-0.3,9.4-1.8,14c-0.2,0.7,0.9,0.8,1.1,0.2 C684.5,328.4,685.1,323.6,684.8,318.8z"/>
                <path fill="#141414" d="M691.7,318.4c0-0.7-1.1-0.6-1.1,0.1c0,4.8-1.1,9.4-3.1,13.9c-0.3,0.6,0.7,1.1,1,0.4 C690.6,328.3,691.7,323.4,691.7,318.4z"/>
                <path fill="#B2B2B2" d="M669.5,295.3c0,0,18.3,0,19.7,0c2.9,0,5.1,3.7,3.7,7.3h-23.4V295.3z"/>
                <path fill="#919191" d="M672.4,302.6c2.9-3.7-0.4-7.3-2.9-7.3c-2.8,0-5.1,2.2-5.1,5.1c0,2.9,2.9,4.3,5.1,4.4h19 c1.9,0,3.7-0.7,4.4-2.2H672.4z"/>
                <path fill="#141414" d="M684.1,304.9l1.5,0c1.9,0,3.7-0.9,4.5-2.6c1.8-3.5-0.5-6.9-3.9-7l-1.5,0c2.7,0,4.7,2.2,4.5,4.9 C689.1,302.9,686.7,305,684.1,304.9z"/>
                <path fill="#141414" d="M674.5,304.9l1.5,0c1.9,0,3.7-0.9,4.5-2.6c1.8-3.5-0.5-6.9-3.9-7l-1.5,0c2.7,0,4.7,2.2,4.5,4.9 C679.5,302.9,677.2,305,674.5,304.9z"/>
                <path id="shadow_1_" opacity="0.18" fill="#263238" d="M619.4,362.6c-3.4,0.2-9.4,6.5-12.9,8.5c-3.5,2-4.5,0.2-5.4,4.8 c-1.5,7.9,4.7,11.2,10,12.6c7.3,1.8,14.6,3.7,21.9,5.5c-1.6,5.3,2.8,7.7,6.5,8.3c10,1.7,20,3.3,30.1,5c6.1,1,18.1-7.3,24.8-10 c6.7-2.7,10.2-1.5,12-10.3c2.3-10.7-10.3-16.2-17.4-18.4c-5.9-1.8-8.3-2.4-13.9-5.1c-4.7-2.2-6.9-4.1-12.7-3.9 C648.2,360.1,633.7,361.6,619.4,362.6z"/>
            </g>
            <g id="girl">
                <path fill="#FFF3FF" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" d="M721.6,263.9h-2.8c-0.1,0-0.1,0-0.1-0.1V258 c0-0.1,0-0.1,0.1-0.1h2.8c0.1,0,0.1,0,0.1,0.1L721.6,263.9C721.7,263.9,721.7,263.9,721.6,263.9z"/>
                <path fill="#FFCCBC" d="M719.2,266.7c-0.6-0.6-1.2-2.2-1.2-2.2s-0.1-1.3,0.4-2c-0.1-0.1,0.2-1.4,0.3-1.4c0,0.9,0.2,2.2,0.5,3 c0.6-0.1,1.3-1,1.6-1.1c0.2,0.6-1,1.4-0.2,3"/>
                <path fill="#263238" d="M745.9,327.3c0.4-4.3-0.2-16.2-0.2-16.2l-2.7-17.7l9-0.3l-2.4,17.1c2.3,2.9-0.4,14-1.4,16.9 C747.4,327.2,746.6,327.2,745.9,327.3z"/>
                <path fill="#263238" d="M739.6,329.4c0.2-4.3-1-16.2-1-16.2l-3.6-22.3l9.1,4.1l-1.6,17.1c2.4,2.7,0.2,13.9-0.6,16.9 C741.1,329.2,740.4,329.3,739.6,329.4z"/>
                <path fill="#FFCCBC" d="M736.9,257.8c-0.6,0.2-0.6,1.9-1.6,3.3c1-0.1,0.6,2.3,0.8,2.6c0.2,0.3,1.1-0.6,1.3,2.5 C740.5,265.7,737,257.9,736.9,257.8z"/>
                <path fill="#263238" d="M736.2,255.8c1-4,6.5-4.7,8.2-0.9c0.4,0.9,0.3,1.9,0.6,2.8c0.3,1.3,1,2.2,1.5,3.4l-8.9,4.6 c-0.4-1.8,0.3-3.5-0.2-5.3C736.9,258.9,735.8,257.6,736.2,255.8z"/>
                <path fill="#FFF3FF" d="M745.8,261.2c-0.5,0.1-1,0.2-1.6,0.3c-3.3,0.9-6.4,2.4-9,5.3c-0.2,0.2-0.4,0.5-0.6,0.7 c-0.5,0.6-1,1.3-1.2,2.1c-0.2,0.8-0.2,1.7,0.3,2.2c0,0,0,0,0-0.1c0.6-2.1,2.2-3.6,3.8-4.3c1.6-0.7,3.3-0.7,5-0.6 c1.6,0.1,3.3,0.2,5-0.3c-0.2-1.5,0.7-2.4,1.2-3.6c0-0.1,0.1-0.2,0.1-0.3C749.2,261,747.7,260.8,745.8,261.2z"/>
                <path fill="#EF5350" d="M736.5,267.8c-2.5,1.1-5.1,3-7.7,3.4c-0.4-1.6-7-7.4-8.9-6.1c-1.7,1.2-1.1,3.1-0.3,5 c1.4,3.2,5.4,6,7.8,8.4c5-0.6,6.8-1,11.2-2.8"/>
                <path fill="#263238" d="M741.9,329c0.1,1.2,0.5,2.3-0.2,3.2c-0.7,1-3.7-0.4-5.1,0.2c-0.6,0.3-3.3,0.6-3.1-0.4 c0.4-1.9,5.1-1.7,6.9-3.2C740.8,328.5,741.4,328.5,741.9,329z"/>
                <path fill="#263238" d="M748.2,326.9c0.1,1.2,0.5,2.3-0.2,3.2c-0.7,1-3.7-0.4-5.1,0.2c-0.6,0.3-3.3,0.6-3.1-0.4 c0.4-1.9,5.1-1.7,6.9-3.2C747,326.4,747.7,326.4,748.2,326.9z"/>
                <path fill="#EF5350" d="M744.5,290c1.6-1.1,10.8-24.5-2.2-24.9c-5.5,0-7.9,4.4-8.3,11.8c-0.8,7-1.6,11.1,0,12 C731.3,292.3,746.3,295.4,744.5,290z"/>
                <path fill="#0D2133" d="M754.5,298.6c2.1,5-15.7,4.9-12.8-2.6C743.4,299.9,750.3,301.2,754.5,298.6z"/>
                <path fill="#0D2133" d="M742.2,286.3c-1.2,0.2-2.4,0.4-3.5,0.8c-0.8,0.2-1.6,0.5-2.3,0.9c-0.2,0.1-0.5,0.2-0.7,0.4 c-0.2,0.2-0.3,0.6-0.3,0.9c0,0.1,0,0.3,0,0.4c0.1,1.4,1.1,2.5,2.2,3.3c0.6,0.4,1.2,0.8,1.7,1.2c0.1,0.1,0.2,0.1,0.2,0.2 c0.9,0.6,1.8,1.2,2.8,1.9c0-0.9-0.1-1.7-0.1-2.6c0-1.9,0-3.8,0.1-5.7C742.4,287.4,742.4,286.8,742.2,286.3z"/>
                <path fill="#0D2133" d="M740.7,270.5c4.2,0,1.5,19.3-0.1,19.3C738.5,289.8,739.1,270.5,740.7,270.5z"/>
                <path fill="#0D2133" d="M759,283.4c-0.5,5.9-2.7,8.9-8.9,8.7c-8.3-0.2-9.4-6.2-9.4-11.7S759,277.9,759,283.4z"/>
                <path fill="#EF5350" d="M758.6,284.2c-0.7,5.7-4.5,6.5-8.3,7.4c-4.4,1.1-8.1-5.3-8.1-10L758.6,284.2z"/>
                <path fill="#2A3C4F" d="M754.5,271.3h-13.7c0.5,0.3,1,0.5,1.5,0.9c-0.7,0.7-1.5,2.2-1.5,8.1c0.4,0.3,8.3,6.7,7.6,11.3 c3.1,0.3,7.2-0.4,8.7-2.7c0.1-2.6,2.8-5.8,2.8-7.3C760,278.7,759.8,272.3,754.5,271.3z"/>
                <path fill="#2A3C4F" d="M741.5,285.9c-2.9,5.3-0.4,13.9,6.4,14.1c6.8,0.2,6.5-1.3,6.5-1.3c0.5-2.4,2.1-3.6,2.1-3.6 c0.3-2.1-1-2.8-1-2.8l-0.2-1.6C753,292,744.6,294.2,741.5,285.9z"/>
                <path fill="#2A3C4F" d="M755.9,297.2c-0.3,0.5-0.6,1-1.1,1.3c-0.1,0.1-0.2,0.2-0.3,0.2c0,0,0,0,0,0c0.2-0.8,0.5-1.6,0.9-2.3 C755.6,296.6,755.8,296.8,755.9,297.2z"/>
                <path fill="#2A3C4F" d="M750.1,297.9c0.1,0.7,0.2,1.4,0.3,2.1c-0.9,0.1-2.4,0.2-3.3-0.2C748,299.2,749.1,298.6,750.1,297.9z"/>
                <path fill="#EF5350" d="M756.6,295.2c0,0.3-0.4,1.4-0.7,2c-0.1-0.3-0.3-0.6-0.5-0.8C755.7,295.9,756.1,295.5,756.6,295.2z"/>
                <path fill="#EF5350" d="M746.7,297.7c0.4-0.8,0.8-1.5,1.4-2.1C753.5,298.1,744.6,301.9,746.7,297.7z"/>
                <path fill="#EF5350" d="M753.2,283.3c0-0.6-1-0.5-0.9,0.1c0.2,4-0.3,8-1.5,11.9c-0.2,0.6,0.7,0.7,0.9,0.1 C752.9,291.5,753.4,287.4,753.2,283.3z"/>
                <path fill="#EF5350" d="M759,283c0-0.6-0.9-0.5-0.9,0.1c0,4-0.9,8-2.6,11.7c-0.2,0.5,0.6,0.9,0.8,0.4 C758.1,291.3,759,287.2,759,283z"/>
                <path fill="#B2B2B2" d="M740.2,263.5c0,0,15.4,0,16.7,0c2.5,0,4.3,3.1,3.1,6.2h-19.8V263.5z"/>
                <path fill="#919191" d="M742.7,269.6c2.5-3.1-0.3-6.1-2.5-6.2c-2.4,0-4.3,1.9-4.3,4.3c0,2.5,2.5,3.7,4.3,3.7h16.1 c1.6,0,3.1-0.6,3.7-1.9H742.7z"/>
                <path fill="#141414" d="M752.6,271.6l1.3,0c1.6,0,3.1-0.8,3.8-2.2c1.5-3-0.5-5.9-3.3-5.9l-1.3,0c2.3,0,3.9,1.9,3.8,4.1 C756.8,269.8,754.8,271.6,752.6,271.6z"/>
                <path fill="#141414" d="M744.5,271.6l1.3,0c1.6,0,3.1-0.8,3.8-2.2c1.5-3-0.5-5.9-3.3-5.9l-1.3,0c2.3,0,3.9,1.9,3.8,4.1 C748.7,269.8,746.7,271.6,744.5,271.6z"/>
                <path id="shadow_2_" opacity="0.18" fill="#263238" d="M719.3,330.9c-1.5,0.6-3.1,4-4.4,5.3c-1.2,1.3-2,0.8-1.6,2.7 c0.8,3.4,4.3,3.7,7,3.4c3.7-0.4,7.4-0.8,11.1-1.2c0.3,2.3,2.7,2.6,4.5,2.3c4.9-0.9,9.9-1.8,14.8-2.6c3-0.5,7-5.7,9.6-7.8 c2.6-2.1,4.4-2.1,3.6-5.9c-0.9-4.6-7.8-4.8-11.4-4.6c-3.1,0.2-4.3,0.3-7.3,0.1c-2.6-0.2-4-0.6-6.6,0.4 C732.2,325.5,725.8,328.3,719.3,330.9z"/>
            </g>
        </g>
    </svg>
</div>
