{% embed 'partials/base.html.twig' %}
    {% block content %}
        <main class="grid landing">
            <div class="sp12 right">
                <div class="sb pd-1">
                    <p>A <b>perfect</b> place for <br>your next adventure</p>
                </div>
            </div>
            <div class="sp12 left" id="cta">
                <div class="cta sb row button">
                    <p class="message">Why?<span class="blinking-cursor">|</span></p>
                </div>
            </div>

            <div class="transition sp12"></div>
            <div id="snow" class="bg-fixed scene zi1"></div>
            <section class="sp12 grid">
                {% include 'partials/scene1.html.twig' %}
                <div class="sp7 left">
                    <p class="sb pd-1">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat..
                    </p>
                </div>
                <div class="sp7 sb pd-1 mg-top-30 mg-bt-30">
                    <h5>Skiing & Snowboarding</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat..</p>
                </div>
                <div class="sp7 sb mg-top-30 pd-1 mg-bt-30">
                    <h5>Freeriding</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat..</p>
                </div>
            </section>
            <section class="sp12 grid">
                {% include 'partials/scene2.html.twig' %}
                <div class="sp7 left">
                    <p class="sb pd-1">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat..
                    </p>
                </div>
                <div class="sp7 sb pd-1 mg-top-30 mg-bt-30">
                    <h5>Mountain Climbing</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat..</p>
                </div>
                <div class="sp7 sb mg-top-30 pd-1 mg-bt-30">
                    <h5>Ice Climbing</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat..</p>
                </div>
            </section>
            <div class="sp12 grid">
                {% include 'partials/scene3.html.twig' %}
                <div class="sp7 sb mg-top-30 pd-1 mg-bt-30">
                    <h5>Mountain Biking</h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat..
                    </p>
                </div>
            </div>
        </main>
    {% endblock %}
{% endembed %}
