{% extends 'partials/base.html.twig' %}
{% set collection = page.collection() %}
{% block content %}
    <main class="grid rooms" itemscope itemtype="http://schema.org/Accomodation">
        <section id="filters" title="filters" class="sb filters">
            <div class="indicator">
            </div>
            <button title="Show all rooms" data-filter="all">
                <h3>all</h3>
            </button>
            <button title="Show suite rooms" data-filter="suite">
                <h3>suite</h3>
            </button>
            <button title="Show studio rooms" data-filter="studio">
                <h3>studio</h3>
            </button>
            <button title="Show small rooms" data-filter="small">
                <h3>small</h3>
                <p>1-3 people</p>
            </button>
            <button title="Show medium rooms" data-filter="medium">
                <h3>medium</h3>
                <p>4-6 people</p>
            </button>
            <button title="Show large rooms" data-filter="large">
                <h3>large</h3>
                <p>7-8 people</p>
            </button>
        </section>
        {% for post in collection %} {% include 'partials/room-preview.html.twig' %} {% endfor %}
    </main>
{% endblock %}
